{% extends "base.html" %}
{% block Content %}
<div>
	<h1>Time Trends<h1>
	<h2>Parameters</h2>
	<table cellpadding="5" cellspacing="0" border="1" class="c7">
		<tbody>
			<tr>
				<td>property</td>
				<td>user_visiting_time_trend</td>
			</tr>
			<tr>
				<td>lat</td>
				<td>Latitude of the location</td>
			</tr>
			<tr>
				<td>lon</td>
				<td>Longitude of the location</td>
			</tr>
			<tr>
				<td>radius</td>
				<td>Radius</td>
			</tr>
		</tbody>
	</table>
	</br>
	<a href="https://haggle-test1.appspot.com/api/analytics/aggregate_deals?property=user_visiting_time_trend&lat=40.745619&lon=-73.985296&radius=3000">
		<input 	type="button"
				value="Try it out!"
				class="haggle-font-type"
				style="height: 40px; width: 200px; border-radius: 5px; background-color: #45acbf; font-weight: 200;font-size: 15px; color:#ffffff"/>
	</a>
</div>
{% endblock %}