.haggle-business-text2 {
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
	font-size: 36px;
	color:#e58170;
	line-height: 46px;
	margin:0px;
	text-align:center;
	word-spacing: 10px;
}

.haggle-business-text3 {
	font-family: 'Open Sans', sans-serif;
	font-weight: 800;
	font-size: 20px;
	color:#666666;
	line-height: 30px;
	margin:0px;
	text-align:center;
}

.haggle-business-text4 {
	font-family: 'Open Sans', sans-serif;
	font-weight: 800;
	font-style: italic;
	font-size: 14px;
	color:#666666;
	line-height: 25px;
	margin:0px;
	text-align:center;
}

.haggle-business-text5 {
	font-family: 'Open Sans', sans-serif;
	font-weight: 700;
	font-size: 18px;
	color:#e58170;
	line-height: 25px;
	margin:0px;
	text-align:center;
}

.haggle-business-text6 {
	font-family: 'Open Sans', sans-serif;
	font-weight: 700;
	font-size: 17px;
	color:#666666;
	line-height: 25px;
	margin:0px;
	text-align:center;
}

.haggle-business-special-message {
	font-family: 'Open Sans', sans-serif;
	font-weight: 700;
	font-size: 17px;
	color:#e58170;
	line-height: 25px;
	text-align:center;
}

@media (max-width: 767px) {
	#business-icon-section p{
		font-size: 46%;
		font-weight: 700;
	}

	.haggle-business-text2 p {
		font-size: 22px !important;
	}

	.haggle-business-text6 p {
		font-size: 14px !important;
	}

	.haggle-business-special-message {
		font-size: 72% !important;
		padding-left: 12% !important;
		padding-right: 12% !important;
	}
}