.haggle-contact {
	background: #f2f2f2;
	min-height: 100%;
	height: 100%;
}

.haggle-contact-description {
	font-family: 'Open Sans', sans-serif;
	font-weight: 700;
	font-size: 21px;
	color:#45acbf;
	line-height: 30px;
	margin:0px;
}

.haggle-contact-address {
	font-family: 'Arial', sans-serif;
	font-weight: 400;
	font-size: 18px;
	color:#666666;
	line-height: 24px;
	margin:0px;
}

.haggle-contact-large-text {
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
	font-size: 36px;
	color:#e58170;
	line-height: 48px;
	margin:0px;
	text-align: center;
}

@media (max-width: 767px) {
	#contact .row-fluid [class*="haggle-filler"] {
		display:none;
	}
	.haggle-contact-large-text {
		padding-left: 10%;
		padding-right: 10%;
	}
}