body{
    color: #fff;
    font-family: 'WhitneyHTFMediumRegular', "HelveticaNeue-Bold", "Helvetica Neue Bold", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-weight: 300;
    font-size: .875em;
    line-height: 1.8;
}

.footer-link {
    font-family: 'WhitneyHTFBold';
}

.hide-element {
    visibility: hidden;
    display: none;
}

.img-replace, .img-replace a {
    display: block;
    height: 90%;
    text-indent: -9999em;
}

.signup {
    position: absolute;
    z-index: 1000;
    right: 0px;
    top: 100px;
    padding: 20px;
    width:250px;
    border: 1px solid #DDDDDD;
}

.error input{
    border-color: #e90e10;
    -webkit-box-shadow: 0 0 6px #e90e10;
    -moz-box-shadow: 0 0 6px #e90e10;
    box-shadow: 0 0 6px #e90e10;
    color: #e90e10;
}

.error span{
    color: #ff8282;
}

.help-inline {
    display: inline-block;
    *display: inline;
    /* IE7 inline-block hack */

    *zoom: 1;
    margin-bottom: 9px;
    vertical-align: middle;
    padding-left: 5px;
}

.signup input {
    width: 235px;
}

footer{
    z-index: 1000;
}

/* Logo & Tagline Styling */

h1 {
    background: url(../img/header/haggle-logo.png) 0 0 no-repeat;
    height: 42px;
    width: 73px;
    top: 20px;
    left: 22px;
    position: absolute;
    z-index: 1000;
}

h2 {
    background: url(../img/header/haggle-tag.png) 0 0 repeat-x;
    height: 34px;
    width: 207px;
    top: 40px;
    right: 0px;
    position: absolute;
    z-index: 1000;
}

/* Navigation arrows */

.sl-slider nav span {
    position: fixed;
    z-index: 2000;
    top: 50%;
    text-indent: -90000px;
    margin-top: -40px;
    cursor: pointer;
}

.sl-slider nav span.sl-prev {
    width: 48px;
    height: 47px;
    background: url(../img/arrows/left-arrow.png) 0 0 no-repeat;
    left: 36px;
}

.sl-slider nav span.sl-next {
    width: 48px;
    height: 47px;
    background: url(../img/arrows/right-arrow.png) 0 0 no-repeat;
    right: 36px;
}

/* Slide wrapper and slides */

.sl-slide, .sl-slides-wrapper {
    position: absolute;
    width: 100%;
    height: 90%;
    top: 30;
    left: 0;
    overflow: hidden;
}

.sl-slide {
    z-index: 1;
}

/* The duplicate parts/cuts */

.sl-content-cut {
    overflow: hidden;
    position: absolute;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    background: #fff;
}

/* Horizontal cut */

.sl-slide-horizontal .sl-content-cut {
    width: 100%;
    height: 50%;
    left: -200px;
}

.sl-slide-horizontal .sl-content-cut:first-child {
    top: -200px;
    padding: 200px 200px 0px 200px;
}

.sl-slide-horizontal .sl-content-cut:nth-child(2) {
    top: 50%;
    padding: 0px 200px 200px 200px;
}

/* Vertical cut */

.sl-slide-vertical .sl-content-cut {
    width: 50%;
    height: 100%;
    top: -200px;
}

.sl-slide-vertical .sl-content-cut:first-child {
    left: -200px;
    padding: 200px 0px 200px 200px;
}

.sl-slide-vertical .sl-content-cut:nth-child(2) {
    left: 50%;
    padding: 200px 200px 200px 0px;
}

/* Content wrapper */
/* Width and height is set dynamically */
.sl-content-wrapper {
    position: absolute;
}

.sl-content {
    width: 100%;
    height: 100%;
}

/* Content elements */

.sl-slide h3 {
    font-family: 'WhitneyHTFBold';
    position: absolute;
    font-size: 1.5em;
    font-weight: 300;
    width: 80%;
    left: 10%;
    text-align: center;
    line-height: 24px;
    top: 8%;
    margin: 0 0 -120px 0;
}

.sl-slide blockquote {
    font-family: 'WhitneyHTFMediumRegular';
    font-size: 1.125em;
    line-height: 21px;
    width: 80%;
    left: 10%;
    position: absolute;
    text-align: center;
    height: 70px;
    color: #8b8b8b;
    z-index: 2;
    top: 12%;
    margin: 0 0 -200px 0;
    padding: 0;
}

.hand-01 {
    width: 658px;
    height: 523px;
    background: url(../img/hands/personal-01.png) 0 0 no-repeat;
    z-index: 4;
    position: absolute;
    left: 50%;
    margin-left: -329px; /*negative half the width */
    bottom: 25px;
}

.hand-02 {
    width: 658px;
    height: 523px;
    background: url(../img/hands/personal-02.png) 0 0 no-repeat;
    z-index: 4;
    position: absolute;
    left: 50%;
    margin-left: -329px; /*negative half the width */
    bottom: 25px;
}

.hand-03 {
    width: 658px;
    height: 523px;
    background: url(../img/hands/personal-03.png) 0 0 no-repeat;
    z-index: 4;
    position: absolute;
    left: 50%;
    margin-left: -329px; /*negative half the width */
    bottom: 25px;
}

.controler-01 {
    width: 366px;
    height: 80px;
    background: url(../img/controler/personal-01.png) 0 0 no-repeat;
    z-index: 5;
    position: absolute;
    left: 50%;
    margin-left: -183px; /*negative half the width */
    bottom: 80px;
}

.controler-02 {
    width: 366px;
    height: 80px;
    background: url(../img/controler/personal-02.png) 0 0 no-repeat;
    z-index: 5;
    position: absolute;
    left: 50%;
    margin-left: -183px; /*negative half the width */
    bottom: 80px;
}

.controler-03 {
    width: 366px;
    height: 80px;
    background: url(../img/controler/personal-03.png) 0 0 no-repeat;
    z-index: 5;
    position: absolute;
    left: 50%;
    margin-left: -183px; /*negative half the width */
    bottom: 80px;
}

/* Step 00 */
.sl-slide-step00 .sl-content-cut,
.sl-slide-step00 .sl-content {
    background: url(../img/bg/personal-00.jpg) 0 0 no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

}

.sl-slide-step00.sl-slide h3, .sl-slide-step00.sl-slide blockquote {
    color: #fff;
    text-shadow: 0 2px 2px rgba(0, 0, 0, 0.5);
}

.definition {
    width: 522px;
    height: 300px;
    z-index: 5;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-top: -180px;
    margin-left: -261px;
    text-shadow: 0 2px 2px rgba(0, 0, 0, 0.5);
}

.name {
    font-family: 'WhitneyHTFBold';
    font-size: 2.250em;
    color: #fff;
    margin-bottom: -24px;
}

.pro {
    font-family: 'WhitneyHTFMediumRegular';
    font-size: 2.250em;
    color: #fff;
    margin: 0px 0px 0px 6px;
    margin-bottom: -24px;
}

.terms {
    font-family: 'WhitneyHTFMediumRegular';
    font-size: 1.5em;
    line-height: 28px;
    color: #fff;
}

.terms li {
    margin-top: 24px;
}

.body-line {
    margin-top: 24px;
    border-bottom: 1px solid #fff;
}

.facebook {
    background: url(../img/footer/facebook.png) 0 0 no-repeat;
    height: 24px;
    width: 22px;
    margin: 12px 0px 0px 12px;
    cursor: pointer;
}

.twitter {
    background: url(../img/footer/twitter.png) 0 0 no-repeat;
    height: 24px;
    width: 22px;
    margin: 12px 0px 0px 12px;
    cursor: pointer;
}

.email {
    background: url(../img/footer/mail.png) 0 0 no-repeat;
    height: 24px;
    width: 27px;
    margin: 10px 0px 0px 12px;
    cursor: pointer;
}

.learn-more {
    background: url(../img/footer/learn-more.png) 0 0 no-repeat;
    height: 24px;
    width: 113px;
    margin-top: 12px;
    cursor: pointer;
}

/* Body Styling */

.sl-slider {
    position: absolute;
    top: 0;
    left: 0;
    font-family: 'WhitneyHTFMediumRegular';
}

/* Navigation arrows */

.sl-slider nav span {
    position: fixed;
    z-index: 2000;
    top: 50%;
    text-indent: -90000px;
    margin-top: -40px;
    cursor: pointer;
}

.sl-slider nav span.sl-prev {
    width: 48px;
    height: 47px;
    background: url(../img/arrows/left-arrow.png) 0 0 no-repeat;
    left: 36px;
}

.sl-slider nav span.sl-next {
    width: 48px;
    height: 47px;
    background: url(../img/arrows/right-arrow.png) 0 0 no-repeat;
    right: 36px;
}

/* Slide wrapper and slides */

.sl-slide, .sl-slides-wrapper {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    overflow: hidden;
}

.sl-slide {
    z-index: 1;
}

/* The duplicate parts/cuts */

.sl-content-cut {
    overflow: hidden;
    position: absolute;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    background: #fff;
}

/* Horizontal cut */

.sl-slide-horizontal .sl-content-cut {
    width: 100%;
    height: 50%;
    left: -200px;
}

.sl-slide-horizontal .sl-content-cut:first-child {
    top: -200px;
    padding: 200px 200px 0px 200px;
}

.sl-slide-horizontal .sl-content-cut:nth-child(2) {
    top: 50%;
    padding: 0px 200px 200px 200px;
}

/* Vertical cut */

.sl-slide-vertical .sl-content-cut {
    width: 50%;
    height: 100%;
    top: -200px;
}

.sl-slide-vertical .sl-content-cut:first-child {
    left: -200px;
    padding: 200px 0px 200px 200px;
}

.sl-slide-vertical .sl-content-cut:nth-child(2) {
    left: 50%;
    padding: 200px 200px 200px 0px;
}

/* Content wrapper */
/* Width and height is set dynamically */
.sl-content-wrapper {
    position: absolute;
}

.sl-content {
    width: 100%;
    height: 100%;
}

/* Content elements */

.sl-slide h3 {
    font-family: 'WhitneyHTFBold';
    position: absolute;
    font-size: 1.5em;
    font-weight: 300;
    width: 80%;
    left: 10%;
    text-align: center;
    line-height: 24px;
    top: 8%;
    margin: 0 0 -120px 0;
}

.sl-slide blockquote {
    font-family: 'WhitneyHTFMediumRegular';
    font-size: 1.125em;
    line-height: 21px;
    width: 80%;
    left: 10%;
    position: absolute;
    text-align: center;
    height: 70px;
    color: #8b8b8b;
    z-index: 2;
    top: 12%;
    margin: 0 0 -200px 0;
    padding: 0;
}

.hand-01 {
    width: 658px;
    height: 523px;
    background: url(../img/hands/personal-01.png) 0 0 no-repeat;
    z-index: 4;
    position: absolute;
    left: 50%;
    margin-left: -329px; /*negative half the width */
    bottom: 25px;
}

.hand-02 {
    width: 658px;
    height: 523px;
    background: url(../img/hands/personal-02.png) 0 0 no-repeat;
    z-index: 4;
    position: absolute;
    left: 50%;
    margin-left: -329px; /*negative half the width */
    bottom: 25px;
}

.hand-03 {
    width: 658px;
    height: 523px;
    background: url(../img/hands/personal-03.png) 0 0 no-repeat;
    z-index: 4;
    position: absolute;
    left: 50%;
    margin-left: -329px; /*negative half the width */
    bottom: 25px;
}

.controler-01 {
    width: 366px;
    height: 80px;
    background: url(../img/controler/personal-01.png) 0 0 no-repeat;
    z-index: 5;
    position: absolute;
    left: 50%;
    margin-left: -183px; /*negative half the width */
    bottom: 80px;
}

.controler-02 {
    width: 366px;
    height: 80px;
    background: url(../img/controler/personal-02.png) 0 0 no-repeat;
    z-index: 5;
    position: absolute;
    left: 50%;
    margin-left: -183px; /*negative half the width */
    bottom: 80px;
}

.controler-03 {
    width: 366px;
    height: 80px;
    background: url(../img/controler/personal-03.png) 0 0 no-repeat;
    z-index: 5;
    position: absolute;
    left: 50%;
    margin-left: -183px; /*negative half the width */
    bottom: 80px;
}

/* Step 00 */
.sl-slide-step00 .sl-content-cut,
.sl-slide-step00 .sl-content {
    background: url(../img/bg/personal-00.jpg) 0 0 no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

}

.sl-slide-step00.sl-slide h3, .sl-slide-step00.sl-slide blockquote {
    color: #fff;
    text-shadow: 0 2px 2px rgba(0, 0, 0, 0.5);
}

.definition {
    width: 522px;
    height: 300px;
    z-index: 5;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-top: -180px;
    margin-left: -261px;
    text-shadow: 0 2px 2px rgba(0, 0, 0, 0.5);
}

.name {
    font-family: 'WhitneyHTFBold';
    font-size: 2.250em;
    color: #fff;
    margin-bottom: -24px;
}

.pro {
    font-family: 'WhitneyHTFMediumRegular';
    font-size: 2.250em;
    color: #fff;
    margin: 0px 0px 0px 6px;
    margin-bottom: -24px;
}

.terms {
    font-family: 'WhitneyHTFMediumRegular';
    font-size: 1.5em;
    line-height: 28px;
    color: #fff;
}

.terms li {
    margin-top: 24px;
}

.body-line {
    margin-top: 24px;
    border-bottom: 1px solid #fff;
}

.facebook {
    background: url(../img/footer/facebook.png) 0 0 no-repeat;
    height: 24px;
    width: 22px;
    margin: 12px 0px 0px 12px;
    cursor: pointer;
}

.twitter {
    background: url(../img/footer/twitter.png) 0 0 no-repeat;
    height: 24px;
    width: 22px;
    margin: 12px 0px 0px 12px;
    cursor: pointer;
}

.email {
    background: url(../img/footer/mail.png) 0 0 no-repeat;
    height: 24px;
    width: 27px;
    margin: 10px 0px 0px 12px;
    cursor: pointer;
}

.learn-more {
    background: url(../img/footer/learn-more.png) 0 0 no-repeat;
    height: 24px;
    width: 113px;
    margin-top: 12px;
    cursor: pointer;
}

/* Step 01 */
.sl-slide-step01 .sl-content-cut,
.sl-slide-step01 .sl-content {
    background: url(../img/bg/personal-01.jpg) 0 0 no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

}

.sl-slide-step01.sl-slide h3, .sl-slide-step01.sl-slide blockquote {
    color: #fff;
    text-shadow: 0 2px 2px rgba(0, 0, 0, 0.5);
}

/* Step 02 */
.sl-slide-step02 .sl-content-cut,
.sl-slide-step02 .sl-content {
    background: url(../img/bg/personal-02.jpg) 0 0 no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.sl-slide-step02.sl-slide h3, .sl-slide-step02.sl-slide blockquote {
    color: #fff;
    text-shadow: 0 2px 2px rgba(0, 0, 0, 0.5);
}

/* Step 03 */
.sl-slide-step03 .sl-content-cut,
.sl-slide-step03 .sl-content {
    background: url(../img/bg/personal-03.jpg) 0 0 no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.sl-slide-step03.sl-slide h3, .sl-slide-step03.sl-slide blockquote {
    color: #fff;
    text-shadow: 0 2px 2px rgba(0, 0, 0, 0.5);
}

/* Step 04 */
.sl-slide-step04 .sl-content-cut,
.sl-slide-step04 .sl-content {
    background: url(../img/bg/business-01.jpg) 0 0 no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.sl-slide-step04.sl-slide h3, .sl-slide-step04.sl-slide blockquote {
    color: #fff;
    text-shadow: 0 2px 2px rgba(0, 0, 0, 0.5);
}

/* Step 05 */
.sl-slide-step05 .sl-content-cut,
.sl-slide-step05 .sl-content {
    background: url(../img/bg/business-02.jpg) 0 0 no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.sl-slide-step05.sl-slide h3, .sl-slide-step05.sl-slide blockquote {
    color: #fff;
    text-shadow: 0 2px 2px rgba(0, 0, 0, 0.5);
}

/* Step 06 */
.sl-slide-step06 .sl-content-cut,
.sl-slide-step06 .sl-content {
    background: url(../img/bg/business-03.jpg) 0 0 no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.sl-slide-step06.sl-slide h3, .sl-slide-step06.sl-slide blockquote {
    color: #fff;
    text-shadow: 0 2px 2px rgba(0, 0, 0, 0.5);
}

/* Animations for elements */

.sl-trans-elems h3 {
    -webkit-animation: moveUp 1s ease-in-out both;
    -moz-animation: moveUp 1s ease-in-out both;
    -o-animation: moveUp 1s ease-in-out both;
    -ms-animation: moveUp 1s ease-in-out both;
    animation: moveUp 1s ease-in-out both;
}

.sl-trans-elems blockquote {
    -webkit-animation: fadeIn 0.5s linear 0.5s both;
    -moz-animation: fadeIn 0.5s linear 0.5s both;
    -o-animation: fadeIn 0.5s linear 0.5s both;
    -ms-animation: fadeIn 0.5s linear 0.5s both;
    animation: fadeIn 0.5s linear 0.5s both;
}

@-webkit-keyframes roll {
    0% {
        -webkit-transform: translateX(500px) rotate(360deg);
        opacity: 0;
    }
    100% {
        -webkit-transform: translateX(0px) rotate(0deg);
        opacity: 1;
    }
}

@-moz-keyframes roll {
    0% {
        -moz-transform: translateX(500px) rotate(360deg);
        opacity: 0;
    }
    100% {
        -moz-transform: translateX(0px) rotate(0deg);
        opacity: 1;
    }
}

@-o-keyframes roll {
    0% {
        -o-transform: translateX(500px) rotate(360deg);
        opacity: 0;
    }
    100% {
        -o-transform: translateX(0px) rotate(0deg);
        opacity: 1;
    }
}

@-ms-keyframes roll{
	0% {-ms-transform: translateX(500px) rotate(360deg); opacity: 0;}
	100% {-ms-transform: translateX(0px) rotate(0deg); opacity: 1;}
}
@keyframes roll {
    0% {
        transform: translateX(500px) rotate(360deg);
        opacity: 0;
    }
    100% {
        transform: translateX(0px) rotate(0deg);
        opacity: 1;
    }
}

@-webkit-keyframes moveUp {
    0% {
        -webkit-transform: translateY(40px);
    }
    100% {
        -webkit-transform: translateY(0px);
    }
}

@-moz-keyframes moveUp {
    0% {
        -moz-transform: translateY(40px);
    }
    100% {
        -moz-transform: translateY(0px);
    }
}

@-o-keyframes moveUp {
    0% {
        -o-transform: translateY(40px);
    }
    100% {
        -o-transform: translateY(0px);
    }
}

@-ms-keyframes moveUp{
	0% {-ms-transform: translateY(40px);}
	100% {-ms-transform: translateY(0px);}
}
@keyframes moveUp {
    0% {
        transform: translateY(40px);
    }
    100% {
        transform: translateY(0px);
    }
}

@-webkit-keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-moz-keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-o-keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-ms-keyframes fadeIn{
	0% {opacity: 0;}
	100% {opacity: 1;}
}
@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.sl-trans-back-elems h3 {
    -webkit-animation: fadeOut 1s ease-in-out both;
    -moz-animation: fadeOut 1s ease-in-out both;
    -o-animation: fadeOut 1s ease-in-out both;
    -ms-animation: fadeOut 1s ease-in-out both;
    animation: fadeOut 1s ease-in-out both;
}

.sl-trans-back-elems blockquote {
    -webkit-animation: fadeOut 1s linear both;
    -moz-animation: fadeOut 1s linear both;
    -o-animation: fadeOut 1s linear both;
    -ms-animation: fadeOut 1s linear both;
    animation: fadeOut 1s linear both;
}

@-webkit-keyframes scaleDown {
    0% {
        -webkit-transform: scale(1);
    }
    100% {
        -webkit-transform: scale(0.5);
    }
}

@-moz-keyframes scaleDown {
    0% {
        -moz-transform: scale(1);
    }
    100% {
        -moz-transform: scale(0.5);
    }
}

@-o-keyframes scaleDown {
    0% {
        -o-transform: scale(1);
    }
    100% {
        -o-transform: scale(0.5);
    }
}

@-ms-keyframes scaleDown{
	0% {-ms-transform: scale(1);}
	100% {-ms-transform: scale(0.5);}
}
@keyframes scaleDown {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(0.5);
    }
}

@-webkit-keyframes fadeOut {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@-moz-keyframes fadeOut {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@-o-keyframes fadeOut {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@-ms-keyframes fadeOut{
	0% {opacity: 1;}
	100% {opacity: 0;}
}
@keyframes fadeOut {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

blockquote {
    border-left: none;
}
