.snippet {
    background-color: #404040;
    height: 500px;
    width: 720px;
    color: #ffffff;
    margin-bottom: 100px;
}

.snippet-request, .snippet-response {
    width: 358px;
    height: 500px;
    display: inline-block;
    float: left;
    border: 1px solid black;
}

.snippet-header {
    height: 40px;
    width: 358px;
    padding-top: 10px;
    padding-left: 20px;
}

.snippet-content {
    width: 338px;
    height: 440px;
    padding-top: 10px;
    padding-left: 20px;
    overflow: scroll;
}

.sdk-table {
    margin-bottom: 100px;
    min-height: 300px;
}

.sdk-row {
    width: 940px;
    min-height: 230px;
}

.sdk-row-pad {
    width: 100%;
    height: 60px;
}

.sdk-column {
    width: 260px;
    min-height: 210px;
    display: inline-block;
    float: left;
    padding-top: 10px;
}

.sdk-column-pad {
    width: 80px;
    min-height: 210px;
    display: inline-block;
    float: left;
}

.sdk-copy {
    padding-right: 15px;
}

.sdk-copy-title {
    font-weight: 600;
    font-size: 20px;
    color: #363636;
}