* {
  -webkit-transition: all 0s ease;
  -moz-transition:    all 0s ease;
  -ms-transition:     all 0s ease;
  -o-transition:      all 0s ease;
}

.big-chart div {
  font: 10px sans-serif;
  background-color: steelblue;
  text-align: right;
  padding: 3px;
  margin: 1px;
  color: white;
}
.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.grid .tick line {
    stroke-dasharray: 0,0;
}

.x.axis path {
  display: none;
}

.line {
  stroke-width: 6px;
}

.line-hover {
  stroke-width: 10px;
}

.area {
    opacity: 0.15;
}

.area-hover {
    opacity: 0.8;
}

.point-set {
    opacity: 0.8;
}

.point-set:hover {
    opacity: 1;
}

.grid .tick line {
    stroke: lightgrey;
}

.tick text {
    text-transform: uppercase;
}

.grid path {
    stroke-width: 0;
}

.stacked-bar {
    fill-opacity: 0.2;
    stroke-width: 3;
    width: 40px !important;
}

.stacked-bar:hover {
    fill-opacity: 0.75;
}