.container-fluid{
	padding-left: 0px;
	padding-right: 0px;
}

.navbar{
	margin-bottom: 0px;
}

img.bg {
        max-width: 1092px;
        margin-left: auto;
	    margin-right: auto;
	    display: block;
}

.empty_row{
	min-height: 40px;
}

.start_job_button{
	min-width: 374px;
	min-height: 99px;
	margin-left: auto;
	margin-right: auto;
	display:block;
	background:transparent url('/assets/img/nytd/SeeMyHagglePower-Button.png') center top no-repeat;
}

.start_job_button:hover{
   background-image: url('/assets/img/nytd/SeeMyHagglePower-Button-Hover.png');
}

.network_icon {
	min-width: 200px;
	min-height: 200px;
	margin-left: auto;
	margin-right: auto;
	display:block;
}

.fb_icon{
	background:transparent url('/assets/img/nytd/Facebook-Icon.png') center top no-repeat;
}

.fb_icon:hover, .fb_icon:active {
   background-image: url('/assets/img/nytd/Facebook-Icon-Hover.png');
}

.fs_icon{
	background:transparent url('/assets/img/nytd/Foursquare-Icon.png') center top no-repeat;
}

.fs_icon:hover, .fs_icon:active {
   background-image: url('/assets/img/nytd/Foursquare-Icon-Hover.png');
}

.tw_icon{
	background:transparent url('/assets/img/nytd/Twitter-Icon.png') center top no-repeat;
}

.tw_icon:hover, .tw_icon:active {
   background-image: url('/assets/img/nytd/Twitter-Icon-Hover.png');
}