<script>
    function convertToTextField(drop_down_id){
        var all_values = $.map($('#' + drop_down_id + ' select option') ,function(option) {return option;});
        var sel_value = $('#' + drop_down_id + ' select :selected');
        $($('#' + drop_down_id + ' select')[0]).prop('disabled', true).trigger('chosen:updated');
        return $.map(all_values, function(option){
                if(sel_value.val() != option.value)
                    return option;
              });
    }

    function loadSecondaryDimension(){
        var sel_value = $('#primary_dimensions select :selected').val();
        $('#dimension_vals_' + sel_value).remove();
        var all_values = convertToTextField('primary_dimensions');
        for(var val in all_values){
            var curr_val = all_values[val].value;
            var curr_text = all_values[val].text;
            if(curr_text == '--PRIMARY DIMENSION--')
                curr_text = '--AGGREGATOR DIMENSION--';
            $('#secondary_dimensions select').append("<option value='" + curr_val + "'>" + curr_text + "</option>");
        }
        $('#secondary_dimensions').show('fast', function(){
            $("#secondary-dimension").chosen({
                placeholder_text_multiple : 'Aggregator',
                max_selected_options : 1
            });
        });
    }

    function loadFilterValues(){
        var sel_value = $('#secondary_dimensions select :selected').val();
        $('#filters_container div').each(function(idx, div){
            var retDiv = $('#' + div.id).remove();
            if(div.id != 'dimension_vals_' + sel_value){
                $('#filter_values').show();
                $('#filter_values #filter_values_container').append(retDiv[0]);
                $('#filter_values #filter_values_container #' + retDiv[0].id).show();
                $("#"+retDiv[0].id+' select').chosen({
                    placeholder_text_multiple : $("#"+retDiv[0].id+' select').attr('data-placeholder'),
                    max_selected_options : 4
                });
            }
        });
        convertToTextField('secondary_dimensions');
        $('#graph-submit').show();
    }

    function getDimensionsList(){
        var retVal = "";
        var primary_dimension = $('#primary_dimensions select :selected').val();
        var secondary_dimension = $('#secondary_dimensions select :selected').val();
        var metric_dimension = $('#metric_dimensions select :selected').val();
        retVal = primary_dimension + ',' + metric_dimension + ',' + secondary_dimension;
        return retVal;
    }
</script>
<div class="metrics-menu block">
    <div id="metric_dimensions" class="inline graph-menu">
        <select id="metrics" class="options-list" multiple>
            {% for y_candidate in  y_candidates %}
            {{y_candidate}}
                <option value="{{y_candidate.0}}">{{y_candidate.1}}</option>
            {%endfor%}
        </select>
        <script>
            $(document).ready(function(){
                $("#metrics").chosen({
                    placeholder_text_multiple : 'Metric',
                    max_selected_options : 1
                });
            });
        </script>
    </div>
    <div id="primary_dimensions" class="inline graph-menu">
        <select id="primary-dimension" class="options-list" onchange="loadSecondaryDimension()" multiple>
            {% for x_candidate in  x_candidates %}
                <option value="{{x_candidate.0}}">{{x_candidate.1}}</option>
            {%endfor%}
        </select>
        <script>
            $(document).ready(function(){
                $("#primary-dimension").chosen({
                    placeholder_text_multiple : 'Dimension',
                    max_selected_options : 1
                });
            });
        </script>
    </div>
    <div id="secondary_dimensions" style="display:none" class="inline graph-menu">
        <select id="secondary-dimension" class="options-list" onchange="showAggregationStrategy()" multiple>
        </select>
        <script>
            function showAggregationStrategy() {
                $('#aggregator_strategy_values').show('fast', function(){
                    $("#aggregation-strategy").chosen({
                        placeholder_text_multiple : 'Aggregation Strategy',
                        max_selected_options : 1
                    });
                });
            }
        </script>
    </div>
    <div id="aggregator_strategy_values" style="display:none" class="inline graph-menu">
        <div id="aggregator_strategy_values_container">
            <select id="aggregation-strategy" class="options-list" onchange="loadFilterValues()" multiple>
                {% for val in aggregator_strategy_vals %}
                    <option value="{{val}}">{{val}}</option>
                {% endfor %}
            </select>
        </div>
    </div>
</div>
<div class="dimensions-filters-menu block">
    <div id="filter_values" style="display:none" class="inline">
        <div id="filter_values_container" class="inline">
            <p>FILTERS</p>
        </div>
        <input class="inline graph-submit-button" id="graph-submit" type="submit" style="display:none;margin-top:66px;" value="GET GRAPH" onclick="updateChart();">
    </div>
    <div id="filters_container">
        {% for dimension, values in dimension_vals.items %}
            <div id="dimension_vals_{{dimension.0}}" style="display:none" class="inline graph-menu">
                <h4>{{ dimension.1 }}</h4>
                <select data-placeholder="{{ dimension.1 }}" id="dimension-{{ dimension.0 }}"  name="{{ dimension.0 }}" class="options-list" multiple>
                <option value="">--{{ dimension.1 }}--</option>
                {% for val in values %}
                    <option value="{{val}}" {% if forloop.counter <= 4 %}selected{% endif %}>{{val}}</option>
                {% endfor %}
                </select>
            </div>
        {% endfor %}
    </div>
</div>