<script>
    function convertToTextField(drop_down_id){
        var all_values = $.map($('#' + drop_down_id + ' select option') ,function(option) {return option;});
        var sel_value = $('#' + drop_down_id + ' select :selected');
        $('#' + drop_down_id + ' select').remove();
        $('#' + drop_down_id).append('<label>' + sel_value.text() + '</label>');
        return $.map(all_values, function(option){
                if(sel_value.val() != option.value)
                    return option;
              });
    }

    function loadSecondaryDimension(){
        var all_values = convertToTextField('primary_dimensions');
        for(var val in all_values){
            var curr_val = all_values[val].value;
            var curr_text = all_values[val].text;
            if(curr_text == 0)
                curr_text = '--SELECT--';
            $('#secondary_dimensions select').append("<option value='" + curr_val + "'>" + curr_text + "</option>");
        }
    }

    function loadSecondaryDimensionValues(){
        var sel_value = $('#secondary_dimensions select :selected').val();
        convertToTextField('secondary_dimensions');
        $('#dimension_vals_' + sel_value).show();
    }
</script>
<div>
    <p>Choose primary X parameter</p>
    <div id="primary_dimensions">
        <select class="options-list" onchange="loadSecondaryDimension()">
            <option value="">--SELECT--</option>
            {% for x_candidate in  x_candidates %}
                <option value="{{x_candidate.0}}">{{x_candidate.1}}</option>
            {%endfor%}
        </select>
    </div>
    <p>Choose secondary X parameter</p>
    <div id="secondary_dimensions">
        <select class="options-list" onchange="loadSecondaryDimensionValues()">
        </select>
    </div>
    {% for dimension, values in dimension_vals.items %}
        <div id="dimension_vals_{{dimension.0}}" style="display:none">
            <p>Pick a value for {{ dimension.1 }}</p>
            {% for val in values %}
                <input type="checkbox" name="{{val}}" value="{{val}}" checked>{{val}}<br>
            {% endfor %}
        </div>
    {% endfor %}
    <div></div>
</div>