<script>
    $(document).ready(function(){
        loadGraphTypes();
    });
</script>

<div id="graph_area">
    <div id="choosing_area" class="choosing-area">
        <p>BASIC</p>
        <div class="block">
            <div class="inline graph-menu">
                <div id="graph_type_chooser">
                </div>
            </div>
            <div class="inline graph-menu">
                <div id="model_type_chooser">
                </div>
            </div>
        </div>
        <div class="metrics-dimensions-block block">
            <div class="graph-dimensions-menu">
                <div id="dimension_chooser">
                </div>
            </div>
        </div>
    </div>
    <div id="plot_area" class="plot-area">
    </div>
</div>