{% extends "marketers/marketers.html" %}
{% block Title %}
Haggle Platforms | Marketers-Spending
{% endblock %}
{% block MarketersContent %}
        <div id="spending-page" class="spending-charts">
            <div id="spending-overview" class="chart-area-top overview">
                <h1>OVERVIEW</h1>
                <div class="overview-results">
                    <div class="summary">
                        <h5>General</h5>
                        <table class="summary-table">
                            <tr class="row">
                                <td class="tb-left">Number of Haggles Initiated</td>
                                <td class="tb-right">941</td>
                            </tr>
                            <tr class="row">
                                <td class="tb-left">Average Discount Offered (%)</td>
                                <td class="tb-right">18.05</td>
                            </tr>
                            <tr class="row">
                                <td class="tb-left">Average Amount Spent ($)</td>
                                <td class="tb-right">25.03</td>
                            </tr>
                            <tr class="row">
                                <td class="tb-left">Average Party Size</td>
                                <td class="tb-right">2.4</td>
                            </tr>
                            <tr class="row">
                                <td class="tb-left">Most Popular Score</td>
                                <td class="tb-right">Loyalty</td>
                            </tr>
                        </table>
                    </div>
                    <div class="age-dist">
                        <h5>Age Distribution</h5>
                        <div class="small-chart"></div>
                    </div>
                    <div class="gender-dist">
                        <h5>Gender Distribution</h5>
                        <div class="med-chart"></div>
                    </div>
                </div>
            </div>
            <div id="dollars-spent" class="chart-area">
                <div class="chart-desc">
                    <h1>DOLLARS SPENT</h1>
                    <p></p>
                    <div class="dimensions">
                        <p><b>DIMENSION</b> (X-Axis) : Day of Week</p>
                        <p><b>METRIC</b> (Y-Axis) : $ Spent</p>
                    </div>
                    <div class="filters">
                        <p><b>FILTERS:</b></p>
                        <div id="dollars_spent_filter_values_container" class="inline">
                            <div id="dollars_spent_dimension_vals_2" style="" class="inline graph-menu">
                                <select name="2" class="options-list" multiple="">
                                    <option value="">--Neighborhood--</option>

                                    <option value="Midtown East" selected="">Midtown East</option>

                                    <option value="Midtown" selected="">Midtown</option>

                                    <option value="Flatiron" selected="">Flatiron</option>

                                    <option value="Gramercy" selected="">Gramercy</option>

                                    <option value="East Village" selected="">East Village</option>

                                    <option value="lower manhattan" selected="">lower manhattan</option>

                                    <option value="Nolita" selected="">Nolita</option>

                                    <option value="midtown" selected="">midtown</option>

                                </select>
                            </div>
                            <div id="dollars_spent_dimension_vals_3" style="" class="inline graph-menu">
                                <select name="3" class="options-list" multiple="">
                                    <option value="">--Cuisine--</option>

                                    <option value="Italian Restaurant" selected="">Italian Restaurant</option>

                                    <option value="Mediterranean" selected="">Mediterranean</option>

                                    <option value="Middle Eastern Restaurant" selected="">Middle Eastern Restaurant</option>

                                    <option value="Diner" selected="">Diner</option>

                                    <option value="Bar" selected="">Bar</option>

                                    <option value="Taco Place" selected="">Taco Place</option>

                                    <option value="French African" selected="">French African</option>

                                    <option value="Cafe" selected="">Cafe</option>

                                    <option value="Mexican" selected="">Mexican</option>

                                    <option value="Burgers" selected="">Burgers</option>

                                    <option value="Burger Joint" selected="">Burger Joint</option>

                                    <option value="Salads" selected="">Salads</option>

                                </select>
                            </div>
                        </div>
                    </div>
                    <div>
                        <input type="button" class="graph-submit-button" value="APPLY FILTERS" onclick="updateDollarsSpent()">
                    </div>
                </div>
                <script>
                    $(document).ready(function(){
                        updateDollarsSpent();
                    });
                    function updateDollarsSpent() {
                        d3.select("#dollars-spent .graph-area").select("svg").remove();
                        var dimensions = '1,2,4';
                        var filters = "";
                        $('#dollars_spent_filter_values_container .options-list').each(function(){
                            if($(this).val() != '')
                                filters += $(this).attr('name') + "::::" + $(this).val() + ",,,,";
                        });
                        var graph_type = 'LineGraphView';
                        var model_type = 'AvailedDeal';
                        var params = {
                                        'dimensions':dimensions,
                                        'graph_type':graph_type,
                                        'model_type':model_type,
                                        'filters':filters
                                     }
                        $.post("/api/marketers", params)
                            .done(function(data){
                                var chart_data = JSON.parse(data);
                                render_graph('dollars-spent .graph-area', chart_data.chart_type, chart_data.chart_data, chart_data.metric, chart_data.dimension);
                        });
                    }
                </script>
                <div class="graph-area"></div>
            </div>
            <div id="sales-per-head" class="chart-area">
                <div class="chart-desc">
                    <h1>SALES PER HEAD</h1>
                    <p></p>
                    <div class="dimensions">
                        <p><b>DIMENSION</b> (X-Axis) : Cuisine</p>
                        <p><b>METRIC</b> (Y-Axis) : $ Spent</p>
                        <p><b>AGGREGATOR</b> : User</p>
                        <div id="sales_per_head_aggregator_strategy_values_container" class="graph-menu">
                            <select class="options-list">
                                <option value="">--Aggregation Strategy--</option>
                                    <option value="Median">Median</option>
                                    <option value="Blind Addition">Blind Addition</option>
                                    <option value="Average" selected>Average</option>
                            </select>
                        </div>
                    </div>
                    <div class="filters">
                        <p><b>FILTERS:</b></p>
                        <div id="sales_per_head_filter_values_container" class="inline">
                            <div id="sales_per_head_dimension_vals_2" style="" class="inline graph-menu">
                                <select name="2" class="options-list" multiple="">
                                    <option value="">--Neighborhood--</option>

                                    <option value="Midtown East" selected="">Midtown East</option>

                                    <option value="Midtown" selected="">Midtown</option>

                                    <option value="Flatiron" selected="">Flatiron</option>

                                    <option value="Gramercy" selected="">Gramercy</option>

                                    <option value="East Village" selected="">East Village</option>

                                    <option value="lower manhattan" selected="">lower manhattan</option>

                                    <option value="Nolita" selected="">Nolita</option>

                                    <option value="midtown" selected="">midtown</option>

                                </select>
                            </div>
                            <div id="sales_per_head_dimension_vals_1" style="" class="inline graph-menu">
                                <select name="1" class="options-list" multiple="">
                                <option value="">--Day of week--</option>

                                    <option value="Fri" selected="">Fri</option>

                                    <option value="Sat" selected="">Sat</option>

                                    <option value="Thu" selected="">Thu</option>

                                    <option value="Tue" selected="">Tue</option>

                                    <option value="Wed" selected="">Wed</option>

                                    <option value="Sun" selected="">Sun</option>

                                    <option value="Mon" selected="">Mon</option>

                                </select>
                            </div>
                        </div>
                    </div>
                    <div>
                        <input type="button" class="graph-submit-button" value="APPLY FILTERS" onclick="updateSalesPerHead()">
                    </div>
                </div>
                <script>
                    $(document).ready(function(){
                        updateSalesPerHead();
                    });
                    function updateSalesPerHead() {
                        d3.select("#sales-per-head .graph-area").select("svg").remove();
                        var dimensions = '3,4,6';
                        var filters = '';
                        $('#sales_per_head_filter_values_container .options-list').each(function(){
                            if($(this).val() != '')
                                filters += $(this).attr('name') + "::::" + $(this).val() + ",,,,";
                        });
                        var graph_type = 'AggregateBarGraphView';
                        var model_type = 'AvailedDeal';
                        var aggregator_strategy = $('#sales_per_head_aggregator_strategy_values_container .options-list').val();
                        var params = {
                                        'dimensions':dimensions,
                                        'graph_type':graph_type,
                                        'model_type':model_type,
                                        'filters':filters,
                                        'agg_idx':aggregator_strategy
                                     }
                        $.post("/api/marketers", params)
                            .done(function(data){
                                var chart_data = JSON.parse(data);
                                render_graph('sales-per-head .graph-area', chart_data.chart_type, chart_data.chart_data, chart_data.metric, chart_data.dimension);
                        });
                    }
                </script>
                <div class="graph-area"></div>
            </div>
        </div>
{% endblock %}