{% extends "marketers/marketers.html" %}
{% block Title %}
Haggle Platforms | Marketers-Social
{% endblock %}
{% block MarketersContent %}
        <div id="social-page" class="social-charts">
            <div id="aggregate-history-score" class="chart-area-top">
                <div class="chart-desc">
                    <h1>Aggregate Score</h1>
                    <p></p>
                    <div class="dimensions">
                        <div id="agg_history_score_aggregator_strategy_values_container" class="graph-menu">
                            <select id="agg-history-score-aggregation-strategy" class="options-list">
                                <option value="Average" selected>Average</option>
                                <option value="Median">Median</option>
                                <option value="Blind Addition">Blind Addition</option>
                            </select>
                        </div>
                    </div>
                    <p></p>
                    <div>
                        <div class="filters inline">
                            <div id="agg_history_score_filter_values_container" class="inline">
                                <div id="agg_history_score_dimension_vals_8" style="" class="inline graph-menu">
                                    <h4>Neighborhoods</h4>
                                    <select id="agg-history-score-neighborhoods" name="8" class="options-list" multiple="">
                                        <option value=" midtown" selected> midtown</option>
                                        <option value=" Nolita" selected> Nolita</option>
                                        <option value=" Humboldt Park" selected> Humboldt Park</option>
                                        <option value=" Castro" selected> Castro</option>
                                        <option value=" East Village"> East Village</option>
                                        <option value=" Flatiron"> Flatiron</option>
                                        <option value=" lower manhattan"> lower manhattan</option>
                                        <option value=" South End"> South End</option>
                                        <option value=" Point Loma"> Point Loma</option>
                                        <option value=" Greenwich Village"> Greenwich Village</option>
                                        <option value=" Midtown"> Midtown</option>
                                    </select>
                                </div>
                                <div id="agg_history_score_dimension_vals_4" style="" class="inline graph-menu">
                                    <h4>Score Types</h4>
                                    <select id="agg-history-score-types" name="4" class="options-list" multiple="">
                                        <option value=" H " selected> History </option>
                                        <option value=" I "> Influence </option>
                                        <option value=" L "> Loyalty </option>
                                        <option value=" B "> Bankroll </option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="inline">
                            <input type="button" class="graph-submit-button" value="APPLY FILTERS" onclick="updateAggHistoryScore()">
                        </div>
                    </div>
                </div>
                <script>
                    $(document).ready(function(){
                        $("#agg-history-score-aggregation-strategy").chosen({
                            placeholder_text_single : 'Choose aggregation strategy',
                            max_selected_options : 1
                        });
                        $("#agg-history-score-neighborhoods").chosen({
                            placeholder_text_multiple : 'Choose neighborhoods',
                            max_selected_options : 4
                        });
                        $("#agg-history-score-types").chosen({
                            placeholder_text_multiple : 'Choose score types',
                            max_selected_options : 1
                        });
                        updateAggHistoryScore();
                    });
                    function updateAggHistoryScore() {
                        d3.select("#aggregate-history-score .graph-area").select("svg").remove();
                        var dimensions = '7,6,1';
                        var filters = '';
                        $('#agg_history_score_filter_values_container .options-list').each(function(){
                            if($(this).val() && $(this).val() != '')
                                filters += $(this).attr('name') + "::::" + $(this).val() + ",,,,";
                        });
                        var graph_type = 'AggregateBarGraphView';
                        var model_type = 'UserScore';
                        var aggregator_strategy = $('#agg_history_score_aggregator_strategy_values_container .options-list').val();
                        var params = {
                                        'dimensions':dimensions,
                                        'graph_type':graph_type,
                                        'model_type':model_type,
                                        'filters':filters,
                                        'agg_idx':aggregator_strategy
                                     }
                        $.post("/api/marketers", params)
                            .done(function(data){
                                var chart_data = JSON.parse(data);
                                render_graph('aggregate-history-score .graph-area', chart_data.chart_type, chart_data.chart_data, chart_data.metric, chart_data.dimension);
                        });
                    }
                </script>
                <div class="graph-area" style="margin-top: 130px;margin-bottom: 50px;"></div>
            </div>
        </div>
{% endblock %}