{% extends "marketers/marketers.html" %}
{% block Title %}
Haggle Platforms | Marketers-Spending
{% endblock %}
{% block MarketersContent %}
        <div id="spending-page" class="spending-charts main-content">
            <div id="spending-overview" class="chart-area-top overview">
                <h1>Overview</h1>
                <div class="overview-results">
                    <div class="overview-container">
                        <div class="summary">
                            <h4>GENERAL</h4>
                            <div class="summary-table">
                                <table style="width:100%;">
                                    <tr class="row">
                                        <td class="tb-left">Number of Haggles Initiated</td>
                                        <td class="tb-right">941</td>
                                    </tr>
                                    <tr class="row">
                                        <td class="tb-left">Average Discount Offered (%)</td>
                                        <td class="tb-right">18.05</td>
                                    </tr>
                                    <tr class="row">
                                        <td class="tb-left">Average Amount Spent ($)</td>
                                        <td class="tb-right">25.03</td>
                                    </tr>
                                    <tr class="row">
                                        <td class="tb-left">Average Party Size</td>
                                        <td class="tb-right">2.4</td>
                                    </tr>
                                    <tr class="row">
                                        <td class="tb-left">Most Popular Score</td>
                                        <td class="tb-right">Loyalty</td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                        <div class="age-dist">
                            <h4>AGE DISTRIBUTION</h4>
                            <div class="med-chart"></div>
                        </div>
                        <div class="gender-dist">
                            <h4>GENDER DISTRIBUTION</h4>
                            <div class="small-chart"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="dollars-spent" class="chart-area">
                <div class="chart-desc">
                    <h1>Dollars Spent</h1>
                    <p></p>
                    <div class="filters">
                        <div id="dollars_spent_filter_values_container" class="inline">
                            <div id="dollars_spent_dimension_vals_2" style="" class="inline graph-menu">
                                <h4>Neighborhoods</h4>
                                <select id="dollars-spent-neighborhoods" name="2" class="options-list" multiple="">
                                    <option value="Midtown East" selected="">Midtown East</option>
                                    <option value="Flatiron" selected="">Flatiron</option>
                                    <option value="Gramercy" selected="">Gramercy</option>
                                    <option value="East Village" selected="">East Village</option>
                                    <option value="Midtown">Midtown</option>
                                    <option value="lower manhattan">lower manhattan</option>
                                    <option value="Nolita">Nolita</option>
                                    <option value="midtown">midtown</option>
                                </select>
                            </div>
                            <div id="dollars_spent_dimension_vals_3" style="" class="inline graph-menu">
                                <h4>Cuisine Types</h4>
                                <select id="dollars-spent-cuisines" name="3" class="options-list" multiple="">
                                    <option value="Diner" selected="">Diner</option>
                                    <option value="Bar" selected="">Bar</option>
                                    <option value="Salads" selected="">Salads</option>
                                    <option value="Cafe" selected="">Cafe</option>
                                    <option value="Italian Restaurant">Italian Restaurant</option>
                                    <option value="Mediterranean">Mediterranean</option>
                                    <option value="Middle Eastern Restaurant">Middle Eastern Restaurant</option>
                                    <option value="Taco Place">Taco Place</option>
                                    <option value="French African">French African</option>
                                    <option value="Mexican">Mexican</option>
                                    <option value="Burgers">Burgers</option>
                                    <option value="Burger Joint">Burger Joint</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <input type="button" class="graph-submit-button" value="APPLY FILTERS" onclick="updateDollarsSpent()">
                </div>
                <script>
                    $(document).ready(function(){
                        $("#dollars-spent-neighborhoods").chosen({
                            placeholder_text_multiple : 'Choose neighborhoods',
                            max_selected_options : 4
                        });
                        $("#dollars-spent-cuisines").chosen({
                            placeholder_text_multiple : 'Choose cuisine types',
                            max_selected_options : 4
                        });
                        updateDollarsSpent();
                    });
                    function updateDollarsSpent() {
                        var dimensions = '1,2,4';
                        var filters = "";
                        $('#dollars_spent_filter_values_container .options-list').each(function(){
                            if($(this).val() && $(this).val() != '')
                                filters += $(this).attr('name') + "::::" + $(this).val() + ",,,,";
                        });
                        var graph_type = 'LineGraphView';
                        var model_type = 'AvailedDeal';
                        var params = {
                                        'dimensions':dimensions,
                                        'graph_type':graph_type,
                                        'model_type':model_type,
                                        'filters':filters
                                     }
                        $.post("/api/marketers", params)
                            .done(function(data){
                                var chart_data = JSON.parse(data);
                                d3.select("#dollars-spent .graph-area").select("svg").remove();
                                render_graph('dollars-spent .graph-area', chart_data.chart_type, chart_data.chart_data, chart_data.metric, chart_data.dimension);
                        });
                    }
                </script>
                <div class="graph-area" style="margin-top: 50px;"></div>
            </div>
            <div id="sales-per-head" class="chart-area">
                <div class="chart-desc">
                    <h1>Sales Per Head</h1>
                    <p></p>
                    <div class="dimensions">
                        <div id="sales_per_head_aggregator_strategy_values_container" class="graph-menu">
                            <h4>Aggregation Strategy</h4>
                            <select id="sales-per-head-aggregation-strategy" class="options-list">
                                <option value="Average" selected>Average</option>
                                <option value="Median">Median</option>
                                <option value="Blind Addition">Blind Addition</option>
                            </select>
                        </div>
                    </div>
                    <p></p>
                    <div>
                        <div class="filters inline">
                            <div id="sales_per_head_filter_values_container" class="inline">
                                <div id="sales_per_head_dimension_vals_2" style="" class="inline graph-menu">
                                    <h4>Neighborhoods</h4>
                                    <select id="sales-per-head-neighborhoods" name="2" class="options-list" multiple="">
                                        <option value="Midtown East" selected="">Midtown East</option>
                                        <option value="Midtown" selected="">Midtown</option>
                                        <option value="Flatiron" selected="">Flatiron</option>
                                        <option value="Gramercy" selected="">Gramercy</option>
                                        <option value="East Village">East Village</option>
                                        <option value="lower manhattan">lower manhattan</option>
                                        <option value="Nolita">Nolita</option>
                                        <option value="midtown">midtown</option>
                                    </select>
                                </div>
                                <div id="sales_per_head_dimension_vals_1" style="" class="inline graph-menu">
                                    <h4>Days of week</h4>
                                    <select id="sales-per-head-days-of-week" name="1" class="options-list" multiple="">
                                        <option value="Fri" selected="">Fri</option>
                                        <option value="Sat" selected="">Sat</option>
                                        <option value="Thu">Thu</option>
                                        <option value="Tue">Tue</option>
                                        <option value="Wed" selected="">Wed</option>
                                        <option value="Sun">Sun</option>
                                        <option value="Mon" selected="">Mon</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="inline">
                            <input type="button" class="graph-submit-button" value="APPLY FILTERS" onclick="updateSalesPerHead()">
                        </div>
                    </div>
                </div>
                <script>
                    $(document).ready(function(){
                        $("#sales-per-head-aggregation-strategy").chosen({
                            placeholder_text_single : 'Choose aggregation strategy',
                            max_selected_options : 1
                        });
                        $("#sales-per-head-neighborhoods").chosen({
                            placeholder_text_multiple : 'Choose neighborhoods',
                            max_selected_options : 4
                        });
                        $("#sales-per-head-days-of-week").chosen({
                            placeholder_text_multiple : 'Choose days of week',
                            max_selected_options : 4
                        });
                        updateSalesPerHead();
                    });
                    function updateSalesPerHead() {
                        var dimensions = '3,4,6';
                        var filters = '';
                        $('#sales_per_head_filter_values_container .options-list').each(function(){
                            if($(this).val() && $(this).val() != '')
                                filters += $(this).attr('name') + "::::" + $(this).val() + ",,,,";
                        });
                        var graph_type = 'AggregateBarGraph';
                        var model_type = 'AvailedDeal';
                        var aggregator_strategy = $('#sales_per_head_aggregator_strategy_values_container .options-list').val();
                        var params = {
                                        'dimensions':dimensions,
                                        'graph_type':graph_type,
                                        'model_type':model_type,
                                        'filters':filters,
                                        'agg_idx':aggregator_strategy
                                     }
                        $.post("/api/marketers", params)
                            .done(function(data){
                                var chart_data = JSON.parse(data);
                                d3.select("#sales-per-head .graph-area").select("svg").remove();
                                render_graph('sales-per-head .graph-area', chart_data.chart_type, chart_data.chart_data, chart_data.metric, chart_data.dimension);
                        });
                    }
                </script>
                <div class="graph-area" style="margin-top: 130px;margin-bottom: 50px;"></div>
            </div>
        </div>
{% endblock %}