{% extends "base.html" %}
{% block Content %}
<div class="row-fluid">
	<div class="span12" style="padding-left:2%">
		<h2>API Explorer</h2>
		<h3>User endpoint:</h3>
		<pre>
		{
		  "name": "Kevin Yan",
		  "email": "venesaur@gmail.com",
		  "main_city": "New York",
		  "main_social_influence": "2.2",
		  Other qualities:?????????
		}</pre>
		<h3>Vendor search endpoint:</h3>
		<pre>
		{
			"response": {
				"vendors": {
			  		"count": 2,
			  		"items": [
			  			{
			  				"id": "84706",
			  				"name": "La Bagels",
			  				"dollar_rating": "2",
			  				"category": "Bagel Shop",
			  				"neighborhoods": ["lower manhattan"],
			  				"location": ["40.7039544814", "-73.9898008326"],
			  			},
			  			{
			  				"id": "84710",
			  				"name": "Señor Pollo",
			  				"dollar_rating": "2",
			  				"category": "Peruvian Restaurant",
			  				"neighborhoods": ["lower manhattan", "midtown"],
			  				"location": ["40.730872", "-73.982954"],
			  			}
		  			]
				}
			}
		}
		</pre>
	</div>
</div>
			<div class="row-fluid">
{% endblock %}