{% extends "base.html" %}
{% block Content %}

<div class="row-fluid">
  <div class="span2 hidden-phone" style="display:inline;font-family: 'Open Sans', sans-serif;float:left;overflow:hidden;padding:0px;background:white;">
		<ul class="devSidebarMenu">
			<li><a class="categoryLink" href="/overview" id="overview">Getting Started</a>
				<ul class="devIndent">
          <li><a href="/oauth">Oauth 2.0</a></li>
          <li><a href="/connecting">Connecting to Haggle</a></li>
          <li><a href="/accessing">Accessing Endpoints</a></li>
          <li><a href="/data">Sending Data</a></li>
          <li><a href="/attribution">Attribution</a></li>
          <li><a href="/ratelimits">Rate Limits</a></li>
          <li><a href="/policies">Policies</a></li>
          <li></li>
          <li><a href="/general">General API</a></li>
          <li><a href="/sdk">SDK Platform</a></li>
          <li><a href="/iphone">iPhone Redirect</a></li>
        </ul>
      </li>
      <li><a class="categoryLink" href="/documentation">Documentation</a>
        <ul class="devIndent">
          <li><a href="/endpoints">API Endpoints</a></li>
          <li><a href="/explore">Explorer</a></li>
          <li><a href="/realtime">Real-Time API</a></li>
          <li><a href="/responses">Responses and Errors</a></li>
          <li><a href="/changelog">Changelog</a></li>
        </ul>
      </li>
      <li><a class="categoryLink" href="/resources" id="resources">Resources</a>
        <ul class="devIndent">
      		<li><a href="/logos">Buttons &amp; Logos</a></li>
      		<li><a href="/libraries">Libraries</a></li>
      		<li><a href="/client">Client Resources</a></li>
      		<li><a href="/tutorial">Tutorials and Samples</a></li>
        </ul>
      </li>

        

      <li><a class="categoryLink" href="/support">Support</a>
      </li>
      </ul>
    </div>
    <div class="span10">
      <h1>Contact</h1>
        FAQ, etc
      <br>
        
    </div>
    <div class="container-fluid">
      <div class="row-fluid">
        <div class= "span 1 visible-phone" style="display:inline;font-family: 'Open Sans', sans-serif;float:left;overflow:hidden;padding:0px;background:white;">
          <ul class="devSidebarMenu">
            <li><a class="categoryLink" href="/overview" id="overview">Getting Started</a>
              <ul class="devIndent">
                <li><a href="/oauth">Oauth 2.0</a></li>
                <li><a href="/connecting">Connecting to Haggle</a></li>
                <li><a href="/accessing">Accessing Endpoints</a></li>
                <li><a href="/data">Sending Data</a></li>
                <li><a href="/attribution">Attribution</a></li>
                <li><a href="/ratelimits">Rate Limits</a></li>
                <li><a href="/policies">Policies</a></li>
                <li></li>
                <li><a href="/general">General API</a></li>
                <li><a href="/sdk">SDK Platform</a></li>
                <li><a href="/iphone">iPhone Redirect</a></li>
            </ul>
          </li>
          <li><a class="categoryLink" href="/documentation">Documentation</a>
            <ul class="devIndent">
                <li><a href="/endpoints">API Endpoints</a></li>
                <li><a href="/explore">Explorer</a></li>
                <li><a href="/realtime">Real-Time API</a></li>
                <li><a href="/responses">Responses and Errors</a></li>
                <li><a href="/changelog">Changelog</a></li>
            </ul>
          </li>
        </ul>
      </div>
      <div class= "span 1 visible-phone" style="display:inline;font-family: 'Open Sans', sans-serif;float:left;overflow:hidden;padding:0px;background:white;">
        <ul class="devSidebarMenu">
          <li><a class="categoryLink" href="/resources" id="resources">Resources</a>
            <ul class="devIndent">
                <li><a href="/logos">Buttons &amp; Logos</a></li>
                <li><a href="/libraries">Libraries</a></li>
                <li><a href="/client">Client Resources</a></li>
                <li><a href="/tutorial">Tutorials and Samples</a></li>
              </ul>
          </li>
          <li><a class="categoryLink" href="/support">Support</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>
{% endblock %}