{% extends "base.html" %}
{% block NavLinks %}
<div id="c820" class="container-fluid collapse-820">
	<div class="row-fluid">
		<div class="span2" style="text-align: center;">
			<a id="vendor-header-link" href="/"><img src="/assets/img/developers/haggle-dev-logo.png"/></a>
		</div>
		<div class="span10">
			<ul class="nav pull-right">
				<li><a href="http://gethaggle.com/developers/my_apps" class="haggle-link hover-enabled">MY APPS</a></li>
				<li><a href="/overview" class="haggle-link hover-enabled">OVERVIEW</a></li>
				<li><a href="/documentation" class="haggle-link hover-enabled">DOCUMENTATION</a></li>
				<li><a href="https://www.facebook.com/haggleapp" class="haggle-link hover-enabled">BLOG</a></li>
				<li><a href="/contact" class="haggle-link hover-enabled">CONTACT</a></li>
			</ul>
		</div>
	</div>
</div>
<div id="s820" class="container-fluid show-820" style="display:none">
<div class="row-fluid">
	<div class="span12">
		<ul class="nav">
			<li class="dropdown">
				<a style="padding:0px" href="#" data-toggle="dropdown">
					<img src="/assets/img/Haggle_Mobile_navbar_menu_icon.png" alt="Menu Icon" height="20"/>
				</a>
				<ul class="dropdown-menu">
					<li>
						<a href="/" class="haggle-link">
							<div style="text-align:center">HOME</div>
						</a>
					</li>
					<li>
						<a href="http://gethaggle.com/developers/my_apps" class="haggle-link">
							<div style="text-align:center">MY APPS</div>
						</a>
					</li>
					<li>
						<a href="/overview" class="haggle-link">
							<div style="text-align:center">OVERVIEW</div>
						</a>
					</li>
					<li>
						<a href="/documentation" class="haggle-link">
							<div style="text-align:center">DOCUMENTATION</div>
						</a>
					</li>
					<li>
						<a href="http://facebook.com/haggleapp" class="haggle-link">
							<div style="text-align:center">BLOG</div>
						</a>
					</li>
					<li>
						<a href="/contact" class="haggle-link">
							<div style="text-align:center">CONTACT</div>
						</a>
					</li>
				</ul>
			</li>
			<li class="haggle-logo-small">
				<a style="padding:0px;margin-left:75px" id="vendor-header-link" class="brand" href="/"></a>
			</li>
		</ul>
	</div>
</div>
</div>
{% endblock %}