<!DOCTYPE html>
<html>
	<head>
	<link rel="stylesheet" type="text/css" href="reset.css">
	<link rel="stylesheet" type="text/css" href="style.css">
		<title>Haggle Platforms | Documentation</title>
	</head>
	<body>

<div id="wrapper">
	<h1>Documentation</h1>
	<div id="main">
<!-- start sidebar -->

		<div id="sidebar">
		
			<ul class="sidebar-menu">
				<li><a href="#">OAuth 2.0</a></li>
				<li><a href="#">Connecting to Haggle</a></li>
				<li><a href="#">OAuth Endpoints</a></li>
				<li><a href="#">Rate Limits</a></li>
					<ul class="sub-sidebar-menu-1">
						<li><a href="#">Submenu Item 1</a></li>
							<ul class="sub-sidebar-menu-2">
								<li><a href="#">Submenu Item 2</a></li>
								<li><a href="#">Submenu Item 2</a></li>
								<li><a href="#">Submenu Item 2</a></li>
							</ul>
						<li><a href="#">Submenu Item 1</a></li>
						<li><a href="#">Submenu Item 1</a></li>
					</ul>
				<li><a href="#">SDK Platform</a></li>
				<li><a href="#">iPhone Redirect</a></li>
				<li><a href="#">API Endpoints</a></li>
				<li><a href="#">Responses & Errors</a></li>
				<li><a href="#">Changelong</a></li>
			</ul>

		</div>
<!-- end sidebar -->
<!-- start main content -->
		<div class="content">
			<div class="breadcrumbs">Documentation / API Endpoints / Aggregate Campaigns / Score Preference Trends</div>

				<p>Connecting to Haggle is simple and easy. Just sign up with our api to obtain a client ID and secret. Using this, you can connect using them as parameters. Here is an example:(this is where I'll put an example)
				<br><br>
				The client intending to access protected Haggle resources registers with Haggle.
				Haggle issues a Client ID and Client Secret.<br> <br>
				The client uses the client ID and Client Secret to send an authorization request.
				Haggle authenticates the client, grants the authorization request and returns a authorization code.
				The client sends the client ID and secret along with the authorization code to request for an access token from Haggle.
				Haggle authenticates the client, validates the authorization code and returns an access token.</p>
				<p>Connecting to Haggle is simple and easy. Just sign up with our api to obtain a client ID and secret. Using this, you can connect using them as parameters. Here is an example:(this is where I'll put an example)
				<br><br>
				The client intending to access protected Haggle resources registers with Haggle.
				Haggle issues a Client ID and Client Secret.<br> <br>
				The client uses the client ID and Client Secret to send an authorization request.
				Haggle authenticates the client, grants the authorization request and returns a authorization code.
				The client sends the client ID and secret along with the authorization code to request for an access token from Haggle.
				Haggle authenticates the client, validates the authorization code and returns an access token.</p>

			<div class="pages">Next page</div>

		</div>
<!-- end main content -->
	</div>




<!-- end wrapper -->
</div>	
<!-- end wrapper -->



































	</body>
</html>