{% extends "base.html" %}
{% block Styles %}
<style type="text/css">
</style>
{% endblock %}
{% block Content %}
<div class="row-fluid">
    <div id="documentation-sidebar" class="span3" style="display:inline;font-family: 'Open Sans', sans-serif;float:left;padding: 0px;">
        <ul class="devSidebarMenu affix nav nav-list" style="-webkit-border-radius: 6px;-moz-border-radius: 6px;border-radius: 6px;background-color: #fff;margin: 30px 0 0;padding-left:30px;padding-right:30px;min-height:325px">
            <li><h3>Documentation</h3>
                <ul class="devSidebarSubMenu nav nav-list">
                    <li><a href="#oauth">OAuth 2.0</a></li>
                    <li><a href="#connecting">Connecting to Haggle</a></li>
                    <li><a href="#oauth-endpoints">OAuth Endpoints</a></li>
                    <li><a href="#ratelimits">Rate Limits</a></li>
                    <li><a href="#sdk">SDK Platform</a></li>
                    <li><a href="#iphone">iPhone Redirect</a></li>
                    <li><a href="#api-endpoints">API Endpoints</a></li>
                    <li><a href="#responses">Responses and Errors</a></li>
                    <li><a href="#changelog">Changelog</a></li>
                </ul>
            </li>
		</ul>
    </div>
    <div class="documentation-body span9" style="margin-left:0px">
        <div id="documentation">
			<h1>Documentation</h1>
            <div id="oauth">
				<div class="row-fluid">
					<div class="span12">
					</div>
				</div>
				<div class="row-fluid">
					<div class="span12">
					</div>
				</div>
				<h2>OAuth</h2>
                <div>
                    <p>Haggle API uses <a href='http://oauth.net/2/'>OAuth 2.0</a>. Here is some information about OAuth.</p>
                    <div style="width:600px;height:400px">
                        <img src="/assets/img/documentation/OAuth2.svg">
                    </div>
                    <p>
                        <b>OAuth 2.0 involves three main entities :</b>
                    </p>
                    <ul>
                        <li>The client needs to access a protected resource.</li>
                        <li>The resource (server hosting the resource) and the resource owner who controls access to the resource.</li>
                        <li>The authorization entity.</li>
                    </ul>
                    <br>
                   <p><b>The 'abstract protocol flow' as per the OAuth 2.0 spec suggests the following steps :</b></p>
                    <ul>
                        <li>The client requests the resource owner to grant authorization to some resources that the owner controls.</li>
                        <li>The resource owner issues an authorization grant to the client.</li>
                        <li>The client authenticates with the authorization server and presents the authorization grant, requesting for an access token.</li>
                        <li>The authorization server verifies the client and the authorization grant and issues an access token.</li>
                        <li>The client then authenticates with the resource server by presenting the access token and requests for protected resources.</li>
                        <li>The resource server on validating the access token, provides the client with the requested protected resources.</li>
                    </ul>
                </div>
            </div>
            <div id="connecting">
				<div class="row-fluid">
					<div class="span12">
					</div>
				</div>
				<div class="row-fluid">
					<div class="span12">
					</div>
				</div>
				<h2>Connecting to Haggle</h2>
                <p>Connecting to Haggle is simple and easy. Just <a href="http://haggle-dev.appspot.com/developers/my_apps">sign up</a> with our api to obtain a client ID and secret. Using this, you can connect using them as parameters. Here is an example:(this is where I'll put an example)</p>
                <br>
                <ul>
                    <li>The client intending to access protected Haggle resources registers with Haggle.</li>
                    <li>Haggle issues a Client ID and Client Secret.</li>
                    <li>The client uses the client ID and Client Secret to send an authorization request.</li>
                    <li>Haggle authenticates the client, grants the authorization request and returns a authorization code.</li>
                    <li>The client sends the client ID and secret along with the authorization code to request for an access token from Haggle.</li>
                    <li>Haggle authenticates the client, validates the authorization code and returns an access token.</li>
                </ul>
            </div>
			<div id="oauth-endpoints">
				<div class="row-fluid">
					<div class="span12">
					</div>
				</div>
				<div class="row-fluid">
					<div class="span12">
					</div>
				</div>
				<div class="row-fluid">
					<div class="span12">
						<h2>OAuth Endpoints</h2>
						<p>Third parties can connect to Haggle using these endpoints:</p>
						<table cellpadding="0" cellspacing="0" class="table table-striped table-bordered" style="background-color: #f0f0f0">
							<tr>
								<td></td>
								<td>Description</td>
								<td>Parameters</td>
								<td>Response</td>
							</tr>
							<tr>
								<td><a href="https://haggle-test1.appspot.com/clients">/clients</a></td>
								<td>To register an App with Haggle and obtain a Client ID and Secret.</td>
								<td></td>
								<td></td>
							</tr>
							<tr>
								<td><a href="https://haggle-test1.appspot.com/oauth2/authorize">/oauth2/authorize</a></td>
								<td>To make an authorization request for a user.</td>
								<td>
									<ul>
										<li>client_id</li>
										<li>client_secret</li>
										<li>response (code/token)</li>
										<li>redirect_uri (optional)</li>
									</ul>
								</td>
								<td>code</td>
							</tr>
							<tr>
								<td><a href="https://haggle-test1.appspot.com/oauth2/token">/oauth2/token</a></td>
								<td>To obtain an Access Token for the authorized user.</td>
								<td>
									<ul>
										<li>client_id</li>
										<li>client_secret</li>
										<li>code</li>
										<li>redirect_uri (optional)</li>
									</ul>
								</td>
								<td>access_token</td>
							</tr>
						</table>
					</div>
				</div>
			</div>
            <div id="ratelimits">
				<div class="row-fluid">
					<div class="span12">
					</div>
				</div>
				<div class="row-fluid">
					<div class="span12">
					</div>
				</div>
                <h2>Rate Limits</h2>
				<p>An application can make 500 requests per access token per 15 minutes rolling window to the Haggle API. For the current usage information, look at the following HTTP response headers:</p>
				<ul>
					<li>RateLimit-Remaining - This header gives the number of calls remaining in the current time window.</li>
					<li>RateLimit-ResetTime - Once the limit is reached, this header gives the time (in minutes) to wait before making another call.</li>
				</ul>
            </div>
            <div id="sdk">
            	<div class="row-fluid">
            		<div class="span12">
            		</div>
            	</div>
            	<h2>SDK Platform</h2>
            	<p>This is where we write about the SDK platform. This platform is to make authentication as easy as ever.</p>
            	<div class="row-fluid">
            		<div class="span12">
            		</div>
            	</div>
            </div>
            <div id="iphone">
            	<div class="row-fluid">
            		<div class="span12">
            		</div>
            	</div>
            	<h2>iPhone Redirect</h2>
            	<p>This is where we write about iPhone redirect.</p>
            </div>
        	<div id="api-endpoints">
				<div class="row-fluid">
					<div class="span12">
					</div>
				</div>
				<div class="row-fluid">
					<div class="span12">
					</div>
				</div>
                <h2>API End Points</h2>
                {% include 'endpoints.html' %}
            </div>
		</div>
        <div id="documentation">
        </div>
	</div>
</div>
{% endblock %}