{% extends "base.html" %}
{% block Content %}

<div class="row-fluid" style="overflow:hidden; position:relative; width:100%;height:100%;">
  <div id="documentation-sidebar" class="span2 hidden-phone" style="display:inline;font-family: 'Open Sans', sans-serif;float:left;overflow:hidden;padding:0px;background:white;height:100%;">
		<ul class="devSidebarMenu">
			<li><a class="categoryLink" href="#" id="overview" onclick="show('getting-started');">Getting Started</a>
				<ul class="devIndent">
          <li><a href="#oauth" onclick="show('getting-started');">Oauth 2.0</a></li>
          <li><a href="#connecting" onclick="show('getting-started');">Connecting to Haggle</a></li>
          <li><a href="#accessing" onclick="show('getting-started');">Accessing Endpoints</a></li>
          <li><a href="#data" onclick="show('getting-started');">Sending Data</a></li>
          <li><a href="#attribution" onclick="show('getting-started');">Attribution</a></li>
          <li><a href="#ratelimits" onclick="show('getting-started');">Rate Limits</a></li>
          <li><a href="#policies" onclick="show('getting-started');">Policies</a></li>
          <li></li>
          <li><a href="#general" onclick="show('apis');">General API</a></li>
          <li><a href="#sdk" onclick="show('apis');">SDK Platform</a></li>
          <li><a href="#iphone" onclick="show('apis');">iPhone Redirect</a></li>
        </ul>
      </li>
      <li><a class="categoryLink" href="#" onclick="show('dochome');">Documentation</a>
        <ul class="devIndent">
          <li><a href="/endpoints">API Endpoints</a></li>
          <li><a href="/api/explorer">Explorer</a></li>
          <li><a href="#realtime" onclick="show('documentation');">Real-Time API</a></li>
          <li><a href="#responses" onclick="show('documentation');">Responses and Errors</a></li>
          <li><a href="#changelog" onclick="show('documentation');">Changelog</a></li>
        </ul>
      </li>
      <li><a class="categoryLink" href="#" id="resources" onclick="show('resources');">Resources</a>
        <ul class="devIndent">
      		<li><a href="#logos" onclick="show('resources');">Buttons &amp; Logos</a></li>
      		<li><a href="#libraries" onclick="show('resources');">Libraries</a></li>
      		<li><a href="#client" onclick="show('resources');">Client Resources</a></li>
      		<li><a href="#tutorial" onclick="show('resources');">Tutorials and Samples</a></li>
        </ul>
      </li>

        

      <li><a class="categoryLink" href="#" onclick="show('support');">Support</a>
      </li>
      </ul>
    </div>
    <div id="dochome" class="span10 dochome q" style="display:block; height=100%;">
      <h1>Documentation</h1>
        This is where you put stuff
    </div>
    <div id="getting-started" class="span10 q getting-started" style="display:none; height=100%;">
      <h1>Getting Started</h1>
      <br><br><br><br><br><br><br><br><br id="oauth"><br>
      <h2 id="connecting">OAUTH</h2>
      Haggle API uses <a href='http://oauth.net/2/'>OAuth 2.0</a>. Here is some information about Oauth.
      <h2 id="accessing">Connecting to Oauth</h2>
      Connecting to Oauth is simple and easy. Just <a href="http://haggle-dev.appspot.com/developers/my_apps">sign up</a> with our api to obtain a client ID and secret. Using this, you can connect using them as parameters. Here is an example:
      <br>(this is where I'll put an example)
      <h2 id="data">Accessing</h2>
      <h2 id="attribution">Data</h2>
      <h2 id="ratelimits">Attribution</h2>
      <h2 id="policies">Rate Limits</h2>
      <h2>Policies</h2>
      <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><h3>THIS IS JUST FILLER TO SEE THE ANCHORS WORK</h3><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
    </div>
    <div id="apis" class="span10 q apis" style="display:none">
      <h1>API</h1>
      
    </div>
    <div id="documentation" class="span10 q documentation" style="display:none">
      <h1>Documentation</h1>
      endpoints and stuff
      
    </div>
    <div id="resources" class="span10 q resources" style="display:none">
      <h1>Resources</h1>
      
    </div>
    <div id="support" class="span10 q support" style="display:none">
      <h1>Support</h1>
      
    </div>
    <div class="container-fluid">
      <div class="row-fluid">
        <div class= "span 2 visible-phone" style="display:inline;font-family: 'Open Sans', sans-serif;float:left;overflow:hidden;padding:0px;background:white;">
          <ul class="devSidebarMenu">
      <li><a class="categoryLink" href="#" id="overview" onclick="show('getting-started');">Getting Started</a>
        <ul class="devIndent">
          <li><a href="#oauth" onclick="show('getting-started');">Oauth 2.0</a></li>
          <li><a href="#connecting" onclick="show('getting-started');">Connecting to Haggle</a></li>
          <li><a href="#accessing" onclick="show('getting-started');">Accessing Endpoints</a></li>
          <li><a href="#data" onclick="show('getting-started');">Sending Data</a></li>
          <li><a href="#attribution" onclick="show('getting-started');">Attribution</a></li>
          <li><a href="#ratelimits" onclick="show('getting-started');">Rate Limits</a></li>
          <li><a href="#policies" onclick="show('getting-started');">Policies</a></li>
          <li></li>
          <li><a href="#general" onclick="show('apis');">General API</a></li>
          <li><a href="#sdk" onclick="show('apis');">SDK Platform</a></li>
          <li><a href="#iphone" onclick="show('apis');">iPhone Redirect</a></li>
        </ul>
      </li>
      <li><a class="categoryLink" href="#" onclick="show('dochome');">Documentation</a>
        <ul class="devIndent">
          <li><a href="/endpoints">API Endpoints</a></li>
          <li><a href="/api/explorer">Explorer</a></li>
          <li><a href="#realtime" onclick="show('documentation');">Real-Time API</a></li>
          <li><a href="#responses" onclick="show('documentation');">Responses and Errors</a></li>
          <li><a href="#changelog" onclick="show('documentation');">Changelog</a></li>
        </ul>
      </li>
      <li><a class="categoryLink" href="#" id="resources" onclick="show('resources');">Resources</a>
        <ul class="devIndent">
          <li><a href="#logos" onclick="show('resources');">Buttons &amp; Logos</a></li>
          <li><a href="#libraries" onclick="show('resources');">Libraries</a></li>
          <li><a href="#client" onclick="show('resources');">Client Resources</a></li>
          <li><a href="#tutorial" onclick="show('resources');">Tutorials and Samples</a></li>
        </ul>
      </li>
      <li><a class="categoryLink" href="#" onclick="show('support');">Support</a>
      </li>
      </ul>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
{% endblock %}