{% extends "base.html" %}
{% block Content %}
<div class="row-fluid">
	<div class="span12">
		<h2>{{ header }}</h2>
	</div>
</div>
<div class="row-fluid">
	<div class="span-12">
		<p>
			OAuth token automatically added. <input type="button" value="Log In" id="fetch_token" name="fetch_token"/> to use your own access token.
		</p>
		<div hidden="hidden" class="row-fluid">
			<div class="span3">
				<p>Token</p>
			</div>
			<div class="span9">
				<input type="text" id="token" value="f377b77df0584f68a445080edda6a436">
			</div>
		</div>
	</div>
</div>
<div class="row-fluid">
	<div class="span6">
		<div class="row-fluid">
			<div class="span12">
				<h3>Parameters</h3>
			</div>
		</div>
		<form id="params">
			<div class="row-fluid">
				<div class="span12">
					<div hidden="hidden" class"row-fluid">
						<div class="span3">
							<p> endpoint </p>
						</div>
						<div class="span9">
							<input type="text" id="endpoint" name="endpoint" value={{ endpoint }} />
						</div>
					</div>
					{% for key, value in params.items %}
					<div class="row-fluid">
						<div class="span3">
							<p> {{ key }} </p>
						</div>
						<div class="span9">
							<input type="text" name={{ key }} value={{ value }} />
						</div>
					</div>
					{% endfor %}
				</div>
			</div>
			<div class="row-fluid">
				<div class="span12">
				</div>
			</div>
			<div class="row-fluid">
				<div class="span12">
					<input 	type="submit"
							value="Try it out!"
							class="haggle-font-type"
							style="height: 40px; width: 200px; border-radius: 5px; background-color: #45acbf; font-weight: 200;font-size: 15px; color:#ffffff"/>
				</div>
			</div>
		</form>
	</div>
	<div class="span6">
		<div class="row-fluid">
			<div class="span3">
				<h3>Response</h3>
			</div>
			<div class="span9" style="min-height: 60px; padding-top: 22px">
				<img src="/assets/img/loading_indicator.gif" id="loading_indicator" hidden="hidden"/>
			</div>
		</div>
		<div class="row-fluid">
			<div class="span12">
				<pre id="response" style="background-color:#ffffff;min-height:150px">
				</pre>
			</div>
		</div>
	</div>
</div>
<div class="row-fluid">
	<div class="span12">
	</div>
</div>
<script src='/assets/js/endpoints/fetch-from-api-server.js' type='text/javascript'></script>
<script src='/assets/js/endpoints/fetch-token.js' type='text/javascript'></script>
{% endblock %}