{% extends "base.html" %}
{% block Styles %}
<style type="text/css">
ol{
	margin:0;padding:0
	}
	.c1{
		vertical-align:top;
		width:117pt;
		border-style:solid;
		border-color:#000000;
		border-width:1pt;
		padding:
		5pt 5pt 5pt 5pt
	}
	.c11{
		max-width:468pt;
		background-color:#ffffff;
		padding:72pt 72pt 72pt 72pt
		}
	.c13{
		color:#ff0000;
		font-size:24pt
		}
	.c4{
		color:#ff0000;
		font-size:9pt
		}
	.c3{
		color:#00ff00;
		font-size:9pt
		}
	.c0{
		line-height:1.0;
		direction:ltr
		}
	.c14{
		color:#00ff00;
		font-size:24pt
		}
	.c8{
		height:11pt
		}
	.c7{
		border-collapse:collapse
		}
	.c15{
		color:#ff0000
		}
	.c2{
		height:0pt
		}
	.c9{
		font-weight:bold
		}
	.c12{
		direction:ltr
		}
	.c5{
		font-size:9pt
		}
	.c6{
		color:#0000ff
		}
	.c10{
		height:43pt
		}
	.title{
		padding-top:0pt;
		line-height:1.15;
		text-align:left;
		color:#000000;
		font-size:21pt;
		font-family:"Trebuchet MS";
		padding-bottom:0pt
		}
	.subtitle{
		padding-top:0pt;
		line-height:1.15;
		text-align:left;
		color:#666666;
		font-style:italic;
		font-size:13pt;
		font-family:"Trebuchet MS";
		padding-bottom:10pt
		}
	li{
		color:#000000;
		font-size:11pt;
		font-family:"Arial"
		}
	p{
		color:#000000;
		font-size:11pt;
		margin:0;
		font-family:"Arial"
		}
	h1{
		padding-top:10pt;
		line-height:1.15;
		text-align:left;
		color:#000000;
		font-size:16pt;
		font-family:"Trebuchet MS";
		padding-bottom:0pt
		}
	h2{
		padding-top:10pt;
		line-height:1.15;
		text-align:left;
		color:#000000;
		font-size:13pt;
		font-family:"Trebuchet MS";
		font-weight:bold;
		padding-bottom:0pt
		}
	h3{
		padding-top:8pt;
		line-height:1.15;
		text-align:left;
		color:#666666;
		font-size:12pt;
		font-family:"Trebuchet MS";
		font-weight:bold;
		padding-bottom:0pt
		}
	h4{
		padding-top:8pt;
		line-height:1.15;
		text-align:left;
		color:#666666;
		font-size:11pt;
		text-decoration:underline;
		font-family:"Trebuchet MS";
		padding-bottom:0pt}
	h5{
		padding-top:8pt;
		line-height:1.15;
		text-align:left;
		color:#666666;
		font-size:11pt;
		font-family:"Trebuchet MS";
		padding-bottom:0pt
		}
	h6{
		padding-top:8pt;
		line-height:1.15;
		text-align:left;
		color:#666666;
		font-style:italic;
		font-size:11pt;
		font-family:"Trebuchet MS";
		padding-bottom:0pt}
	</style>
{% endblock %}
{% block Content %}
	<div class="span12" style="overflow: hidden;">
<p class="c8 c12">
	<span>
	</span>
</p>
<a href="#" name="dd879c77b73c63fb0033a0f4c45bbc5ccefc15d0">
</a>
<a href="#" name="0">
</a>
<table cellpadding="0" cellspacing="0" class="c7">
	<tbody>
		<tr class="c2">
			<td class="c1">
				<p class="c0 c8">
					<span>
					</span>
				</p>
			</td>
			<td class="c1">
				<p class="c0">
					<span class="c9">
						General
					</span>
				</p>
			</td>
			<td class="c1">
				<p class="c0">
					<span class="c9">
						Aspects
					</span>
				</p>
			</td>
			<td class="c1">
				<p class="c0">
					<span class="c9">
						Actions
					</span>
				</p>
			</td>
		</tr>
		<tr class="c2">
			<td class="c1">
				<p class="c0">
					<span class="c9">
						<a href="/api/users">
							Users
						</a>
					</span>
				</p>
			</td>
			<td class="c1">
				<p class="c0">
					<span class="c5">
						<a href="/api/users/search">
							Search
						</a>
					</span>
				</p>
			</td>
			<td class="c1">
				<p class="c0">
					<span class="c5">
						<a href="/api/users/history">
							history
						</a>
					</span>
				</p>
				<p class="c0">
					<span class="c5">
						<a href="/api/users/loyalty">
							Loyalty
						</a>
					</span>
				</p>
				<p class="c0">
					<span class="c5">
						<a href="/api/users/social_influence">
							Social Influence
						</a>
					</span>
				</p>
				<p class="c0">
					<span class="c5">
						<a href="/api/users/purchasing_power">
							Purchasing Power
						</a>
					</span>
				</p>
				<p class="c0">
					<span class="c4">
						*
					</span>
					<span class="c5">
						<a href="/api/users/deals">
							Deals
						</a>
					</span>
					<span class="c4">
						*
					</span>
				</p>
			</td>
			<td class="c1">
				<p class="c0 c8">
					<span class="c5">
					</span>
				</p>
			</td>
		</tr>
		<tr class="c2">
			<td class="c1">
				<p class="c0">
					<span class="c9">
						<a href="/api/vendors">
							Vendors
						</a>
					</span>
				</p>
			</td>
			<td class="c1">
				<p class="c0">
					<span class="c5">
						<a href="/api/vendors/categories">
							Categories
						</a>
					</span>
				</p>
				<p class="c0">
					<span class="c4">
						*
					</span>
					<span class="c5">
						<a href="/api/vendors/explore">
							Explore
						</a>
					</span>
					<span class="c4">
						*
					</span>
				</p>
				<p class="c0">
					<span class="c5">
						<a href="/api/vendors/search">
							Search
						</a>
					</span>
				</p>
			</td>
			<td class="c1">
				<p class="c0">
					<span class="c3">
						*
					</span>
					<span class="c5">
						<a href="/api/vendors/campaigns">
							Campaigns
						</a>
					</span>
					<span class="c3">
						*
					</span>
				</p>
				<p class="c0">
					<span class="c5">
						<a href="/api/vendors/hours">
							Hours
						</a>
					</span>
				</p>
				<p class="c0">
					<span class="c5">
						<a href="/api/vendors/tips">
							Tips
						</a>
					</span>
				</p>
				<p class="c0">
					<span class="c5">
						<a href="/api/vendors/user_trends">
							User Trends
						</a>
					</span>
				</p>
				<p class="c0">
					<span class="c5">
						<a href="/api/vendors/time_trends">
							Time Trends
						</a>
					</span>
				</p>
				<p class="c0">
					<span class="c5">
						<a href="/api/vendors/average_spending">
							Average Spending
						</a>
					</span>
				</p>
				<p class="c0">
					<span class="c5">
						<a href="/api/vendors/current_deals">
							Current Deals
						</a>
					</span>
				</p>
				<p class="c0">
					<span class="c5">
						<a href="/api/vendors/links">
							Links
						</a>
					</span>
				</p>
			</td>
			<td class="c1">
				<p class="c0">
					<span class="c4">
						*
					</span>
					<span class="c5">
						<a href="/api/vendors/accept_deal">
							Accept Deal
						</a>
					</span>
					<span class="c4">
						*
					</span>
				</p>
				<p class="c0">
					<span class="c4">
						*
					</span>
					<span class="c5">
						<a href="/api/vendors/request_deal">
							Request Deal
						</a>
					</span>
					<span class="c4">
						*
					</span>
				</p>
			</td>
		</tr>
		<tr class="c10">
			<td class="c1">
				<p class="c0">
					<span class="c9">
						<a href="/api/aggregate_campaigns" style="color:red">
							Aggregate Campaigns
						</a>
					</span>
				</p>
			</td>
			<td class="c1">
				<p class="c0">
					<span class="c5">
						<a href="/api/aggregate_campaigns/search">
							Search
						</a>
					</span>
				</p>
			</td>
			<td class="c1">
				<p class="c0">
					<span class="c5">
						<a href="https://haggle-test1.appspot.com/api/analytics/aggregate_campaigns?property=average_discounts&lat=40.745619&lon=-73.985296&radius=3000" style="color:red">
							Discount Trends
						</a>
					</span>
				</p>
				<p class="c0">
					<span class="c5">
						<a href="https://haggle-test1.appspot.com/api/analytics/aggregate_campaigns?property=score_pref_trend&lat=40.745619&lon=-73.985296&radius=3000" style="color:red">
							Score Preference Trends
						</a>
					</span>
				</p>
				<p class="c0">
					<span class="c5">
						<a href="/api/aggregate_campaigns/campaign_hours_trends">
							Campaign Hours Trends
						</a>
					</span>
				</p>
			</td>
			<td class="c1">
				<p class="c0 c8">
					<span class="c5">
					</span>
				</p>
			</td>
		</tr>
		<tr class="c10">
			<td class="c1">
				<p class="c0">
					<span class="c9">
						<a href="/api/individual_campaigns">
							Individual Campaigns
						</a>
					</span>
				</p>
			</td>

			<td class="c1">
				<p class="c0">
					<span class="c5">
						<a href="/api/individual_campaigns/search">
							Search
						</a>
					</span>
				</p>
			</td>
			<td class="c1">
				<p class="c0">
					<span class="c3">
						*
					</span>
					<span class="c5">
						<a href="/api/individual_campaigns/hours">
							Hours
						</a>
					</span>
					<span class="c3">
						*
					</span>
				</p>
				<p class="c0">
					<span class="c3">
						*
					</span>
					<span class="c5">
						<a href="/api/individual_campaigns/score_preferences">
							Score Preferences
						</a>
					</span>
					<span class="c3">
						*
					</span>
				</p>
				<p class="c0">
					<span class="c3">
						*
					</span>
					<span class="c5">
						<a href="/api/individual_campaigns/max_discount">
							Max Discount
						</a>
					</span>
					<span class="c3">
						*
					</span>
				</p>
				<p class="c0">
					<span class="c3">
						*
					</span>
					<span class="c5">
						<a href="/api/individual_campaigns/minimum_discount">
							Minimum Discount
						</a>
					</span>
					<span class="c3">*</span>
				</p>
			</td>
			<td class="c1">
				<p class="c0">
					<span class="c3">*</span>
					<span class="c5"><a href="/api/individual_campaigns/delete">Delete</a></span>
					<span class="c3">*</span>
				</p>
				<p class="c0">
					<span class="c3">*</span>
					<span class="c5">
						<a href="/api/individual_campaigns/end">End</a>
					</span>
					<span class="c3">*</span>
				</p>
				<p class="c0">
					<span class="c3">*</span>
					<span class="c5"><a href="/api/individual_campaigns/start">Start</a></span>
					<span class="c3">*</span>
				</p>
			</td>
		</tr>
		<tr class="c2">
			<td class="c1">
				<p class="c0">
					<span class="c9"><a href="/api/aggregate_deals" style="color:red">Aggregate Deals</a></span>
				</p>
			</td>
			<td class="c1">
				<p class="c0"><span class="c5"><a href="/api/aggregate_deals/search">Search</a></span></p>
			</td>
			<td class="c1">
				<p class="c0">
					<span class="c5">
						<a href="https://haggle-test1.appspot.com/api/analytics/aggregate_deals?property=bids_trend&lat=40.745619&lon=-73.985296&radius=3000" style="color:red">
							Bids Trends
						</a>
					</span>
				</p>
				<p class="c0">
					<span class="c5">
						<a href="https://haggle-test1.appspot.com/api/analytics/aggregate_deals?property=user_type_trend&lat=40.745619&lon=-73.985296&radius=3000" style="color:red">
							User Trends
						</a>
					</span>
				</p>
				<p class="c0"><span class="c5"><a href="/api/aggregate_deals/time_trends">Time Trends</a></span></p>
				<p class="c0">
					<span class="c5">
						<a href="https://haggle-test1.appspot.com/api/analytics/aggregate_deals?property=spending_trend&lat=40.745619&lon=-73.985296&radius=3000" style="color:red">
							Average Spending
						</a>
					</span>
				</p>
			</td>
			<td class="c1">
				<p class="c0 c8"><span class="c5"></span></p>
			</td>
		</tr>
		<tr class="c2">
			<td class="c1"><p class="c0"><span class="c9"><a href="/api/individual_deals">Individual Deals</a></span></p></td>
			<td class="c1"><p class="c0"><span class="c5"><a href="/api/individual_deals/search">Search</a></span></p></td>
			<td class="c1">
				<p class="c0"><span class="c3">*</span><span class="c4">*</span><span class="c5"><a href="/api/individual_deals/time">Time</a></span></p>
				<p class="c0"><span class="c3">*</span><span class="c4">*</span><span class="c5"><a href="/api/individual_deals/user_id">User ID</a></span></p>
				<p class="c0"><span class="c3">*</span><span class="c4">*</span><span class="c5"><a href="/api/individual_deals/bid">Bid</a></span></p>
				<p class="c0"><span class="c3">*</span><span class="c4">*</span><span class="c5"><a href="/api/individual_deals/offer">Offer</a></span></p>
			</td>
			<td class="c1">
				<p class="c0"><span class="c4">*</span><span class="c5"><a href="/api/individual_deals/delete">Delete</a></span><span class="c4">*</span></p>
				<p class="c0">
					<span class="c4">*</span>
					<span class="c5"><a href="/api/individual_deals/make_public">Make Public</a></span>
					<span class="c4">*</span>
				</p>
				<p class="c0">
					<span class="c4">*</span>
					<span class="c5"><a href="/api/individual_deals/make_private">Make Private</a></span>
					<span class="c4">*</span>
				</p>
			</td>
		</tr>
	</tbody>
</table>
<p class="c8 c12"><span></span></p>
<p class="c12"><span class="c13">*</span><span class="c15">&nbsp;</span><span>Requires User Permission</span></p>
<p class="c12"><span class="c14">*</span><span class="c6">&nbsp;</span><span>Requires Vendor Permission</span></p>