<form id="params">
    <h2>{{ header }}</h2>
    <p>{{ description }} <br>
        OAuth token is automatically added. <a href="#">Login</a> to use your own token.</p>
    <div class="well">
        <div class="well-title">TOKEN</div>
        <input class="well-content" id="token" value="f377b77df0584f68a445080edda6a436">
    </div>
    <h4>Try it out</h4>
    <input type="hidden" id="url" name="url" value="{{url}}">
    <input type="hidden" id="endpoint" name="endpoint" value="{{endpoint}}">
    <div class="endpoints-parameters">
        <div class="grid-2 inline">
            {% for key, values in params.items %}
                <div {% if key == "property" %} hidden {% endif %}>
                    <h5>{{ values.description }}</h5>
                    <input class="endpoints-input" type="text" name={{ key }} value="{{ values.value }}" style="width:75% !important"/>
                </div>
            {% endfor %}
            <button class="btn" id="params-submit" onclick="fetchResponse(event)">Submit</button>
        </div>
        <div  class="grid-4 inline">
			<div style="min-height: 60px;">
				<img src="/assets/img/loading_indicator.gif" id="loading_indicator" hidden="hidden"/>
                <pre id="response" class="endpoints-response"></pre>
			</div>
        </div>
    </div>
</form>
