{% extends "base.html" %}
{% block Styles %}
<title>Haggle Platforms</title>
{% endblock %}
{% block Content %}
    <div class="landing">
        <h1>The Personalized Pricing API</h1>
        <img src="/assets/img/machine.png" style="margin-top:55px;">
    </div>
    <div class="grid-full landing-menu">
        <div class="grid-wrap">
            <a href="/integrate"><div class="select-platforms">
                <img src="/assets/img/icon_integrate.png">
                <h3>Integrate</h3>
                <p>Add Haggle to your product with code and instructions</p>
            </div></a>
            <a href="/developers"><div class="select-platforms">
                    <img src="/assets/img/icon_devs.png">
                    <h3>Develop</h3>
                    <p>Access our API to get the endpoints you need</p>
                </div></a>
            <a href="/marketers"><div class="select-platforms">
                <img src="/assets/img/icon_market.png">
                <h3>Market</h3>
                <p>Understand audience trends and engagement</p>
            </div></a>
        </div>
    </div>
    <div class="grid-full landing-copy">
        <div class="landing-copy-grid">
            <p class="landing-copy-title">
                Access intelligent, harmonized local commerce data for developers and smart reports with trends on local commerce data for marketers.
            </p>
            <p class="landing-copy-sub-title">
                We NEVER release an individual user's data, but do allow you to query and play with aggregate data. Our API will allow you to do what you do best, whether it’s build a local commerce app, access your loyal users, give personalized pricing to your best customers or increase the reach of your brand. Leave the dirty data stuff to us!
            </p>
            <div class="landing-copy-grid-row">
                <div class="landing-copy-grid-cell">
                    <p class="landing-copy-grid-cell-title">Crawl Data</p>
                    <p class="landing-copy-grid-cell-copy">Our distributed system of crawlers scan for local commerce data across several commerce data stores</p>
                </div>
                <div class="landing-copy-grid-padding"></div>
                <div class="landing-copy-grid-cell">
                    <p class="landing-copy-grid-cell-title">Harmonize</p>
                    <p class="landing-copy-grid-cell-copy">Our proprietary harmonizing algorithms are built on top of both semantic web and NLP modules. Sound confusing? We piece together all of the crawled data across every platform with data. So, when you want to access Joe’s Deli at 29th and Park, Haggle’s API helps you know for sure that some apps call it Joe’s Sandwich Place and a site calls it Joe’s Cafe, then checkins and likes from different social networks, even all the slightly different locations, are all harmonized into one unique establishment.</p>
                </div>
                <div class="landing-copy-grid-padding"></div>
                <div class="landing-copy-grid-cell">
                    <p class="landing-copy-grid-cell-title">Get Geo Coordinates</p>
                    <p class="landing-copy-grid-cell-copy">Through crowdsourcing and AI, we tag atomic level social network activity related individual establishments with geo coordinates so you know for sure which Starbucks got some love from a customer and which one left her jaded rant about a lukewarm latte.</p>
                </div>
            </div>
            <div class="landing-copy-grid-row">
                <div class="landing-copy-grid-cell">
                    <p class="landing-copy-grid-cell-title">Map User Transactions</p>
                    <p class="landing-copy-grid-cell-copy">We have built a process for pulling user data across all social networks he/she has given access to, and mapped transactions to get a complete history</p>
                </div>
                <div class="landing-copy-grid-padding"></div>
                <div class="landing-copy-grid-cell">
                    <p class="landing-copy-grid-cell-title">Consolidate Social Graphs</p>
                    <p class="landing-copy-grid-cell-copy">Using vector math, we collate user action across multiple social networks into a one consolidated social graph.</p>
                </div>

            </div>
        </div>
    </div>
{% endblock %}



































</body>
</html>