{% extends "base.html" %}
{% block Styles %}
<style type="text/css">
table{
    table-layout: fixed;
    width: 180px;
}
th, td {
    overflow: hidden;
    width: 90px;
}
</style>
{% endblock %}
{% block Content %}
<div id="id">
	<h1>Individual Deals</h1>
		<div class="row">
			<div class="span4">
				<table class="table table-hover">
					<tr class="info">
						<th>HTTP Method</th>
						<td>GET</td>
					</tr>
					<tr class="info">
						<th>Log in Required?</th>
						<td>Yes</td>
					</tr>
				</table>
			</div>
		</div>
		<p>Keep track of your customers who find out who's coming back for more. The individual deals API lets businesses find out more about their customers.</p>

		<p>Returns a list of deal IDs given the search parameters.</p>


			<FORM><INPUT Type="button" VALUE="Back" onClick="history.go(-1);return true;"></FORM>
{% endblock %})