{% extends "base.html" %}
{% block Content %}
	<div style="text-align:center;margin-left:10%;margin-right:10%">
		<div class="row-fluid">
			<div class="span12">
			</div>
		</div>
		<p class="haggle-font-type" style="font-weight: 200;font-size: 25px;line-height:30px">
			The Haggle Platform gives you access to all of the data used by Haggle, and much more!
		</p>
		<div class="row-fluid">
			<div class="span12">
			</div>
		</div>
		<a href="/overview">
			<input type="button" 
				   value="Integrate" 
				   class="haggle-font-type"
				   style="height: 40px; width: 200px; border-radius: 5px; background-color: #45acbf; font-weight: 200;font-size: 15px; color:#ffffff"/>
		</a>
		<a href="/documentation">
			<input type="button" 
				   value="Developers" 
				   class="haggle-font-type"
				   style="height: 40px; width: 200px; border-radius: 5px; background-color: #45acbf; font-weight: 200;font-size: 15px; color:#ffffff"/>
		</a>
		<a href="/case_studies">
			<input type="button" 
				   value="Marketing" 
				   class="haggle-font-type"
				   style="height: 40px; width: 200px; border-radius: 5px; background-color: #45acbf; font-weight: 200;font-size: 15px; color:#ffffff"/>
		</a>
	</div>
{% endblock %}