{% extends "base.html" %}
{% block Content %}
	<div class="grid-wrap" style="margin-top:100px;">
        <a href="/integrate"><div class="select-platforms">
            <img src="/assets/img/icon_integrate.png">
            <h3>Integrate</h3>
            <p>Add Haggle to your product with code and instructions.</p>
        </div></a>
        <a href="/developers"><div class="select-platforms">
                <img src="/assets/img/icon_devs.png">
                <h3>Develop</h3>
                <p>Access our API and get the endpoints you need.</p>
            </div></a>
        <a href="/marketers"><div class="select-platforms">
            <img src="/assets/img/icon_market.png">
            <h3>Market</h3>
            <p>Understand audience trends & engagement with reports.</p>
        </div></a>
    </div>
{% endblock %}