{% extends "base.html" %}
{% block Scripts %}
    <script src="/assets/js/lib/d3.v3.min.js"></script>
    <script src="/assets/js/lib/d3/line.js"></script>
    <script src="/assets/js/lib/d3/stackedbar.js"></script>
    <script src="/assets/js/web/generic_template.js"></script>
    <script src="/assets/js/web/graph_builder.js"></script>
    <script src="/assets/js/web/marketers.js"></script>
{% endblock %}
{% block Styles %}
<title>Haggle Platforms | Marketers</title>
<style>

* {
  -webkit-transition: all 0s ease;
  -moz-transition:    all 0s ease;
  -ms-transition:     all 0s ease;
  -o-transition:      all 0s ease;
}

.big-chart div {
  font: 10px sans-serif;
  background-color: steelblue;
  text-align: right;
  padding: 3px;
  margin: 1px;
  color: white;
}
.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.grid .tick line {
    stroke-dasharray: 3,3;
}

.x.axis path {
  display: none;
}

.line {
  stroke-width: 6px;
}

.line-hover {
  stroke-width: 10px;
}

.area {
    opacity: 0.15;
}

.area-hover {
    opacity: 0.8;
}

.point-set {
    opacity: 0.8;
}

.point-set:hover {
    opacity: 1;
}

.grid .tick {
    stroke: lightgrey;
    opacity: 0.7;
}
.grid path {
    stroke-width: 0;
}
.stacked-bar {
    fill-opacity: 0.15;
}
</style>
{% endblock %}
{% block Content %}

<div class="top-bar">
    <ul class="section-menu">
        <li><a href="/marketers">Reports</a></li>
        <li><a href="/marketers">Case Studies</a></li>
    </ul>
</div>
        <!--
<div class="reports-nav">
    <select class="reports-list">
      <option value="spending-report">Spending Report</option>
      <option value="social-report">Social Report</option>
      <option value="restaurant-report">Restaurant Report</option>
    </select>
</div>
<div class="full-width-line">
    <div class="overview-results">
        <div class="gender-dist">
            <h5>Gender Distribution</h5>
            <div class="small-chart">Gender donut chart</div>
        </div>
        <div class="age-dist">
            <h5>Age Distribution</h5>
            <div class="med-chart">Age distribution line chart</div>
        </div>
        <div class="summary">
            <h5>General</h5>
            <table class="summary-table">
                <tr class="row">
                    <td class="tb-left">Number of Haggles Initiated</td>
                    <td class="tb-right">150</td>
                </tr>
                <tr class="row">
                    <td class="tb-left">Average Discount Offered (%)</td>
                    <td class="tb-right">18.43</td>
                </tr>
                <tr class="row">
                    <td class="tb-left">Average Amount Spent ($)</td>
                    <td class="tb-right">40</td>
                </tr>
                <tr class="row">
                    <td class="tb-left">Average Party Size</td>
                    <td class="tb-right">2.4</td>
                </tr>
                <tr class="row">
                    <td class="tb-left">Most Popular Score</td>
                    <td class="tb-right">Loyalty</td>
                </tr>
            </table>
        </div>
    </div>
</div>
-->
<div class="charts-tab-menu">
    <p class="tab-select" id="spending-select" onclick="showChartTab('spending')" style="color:#c62530;">SPENDING</p>
    <p class="tab-select" id="social-select" onclick="showChartTab('social')">SOCIAL</p>
    <p class="tab-select" id="generic-select" onclick="showChartTab('generic')">CUSTOM</p>
</div>
<div id="spending-page" class="spending-charts chart-page">
    <div id="spending-overview" class="chart-area overview">
        <h1>OVERVIEW</h1>
        <div class="overview-results">
            <div class="summary">
                <h5>General</h5>
                <table class="summary-table">
                    <tr class="row">
                        <td class="tb-left">Number of Haggles Initiated</td>
                        <td class="tb-right">941</td>
                    </tr>
                    <tr class="row">
                        <td class="tb-left">Average Discount Offered (%)</td>
                        <td class="tb-right">18.05</td>
                    </tr>
                    <tr class="row">
                        <td class="tb-left">Average Amount Spent ($)</td>
                        <td class="tb-right">25.03</td>
                    </tr>
                    <tr class="row">
                        <td class="tb-left">Average Party Size</td>
                        <td class="tb-right">2.4</td>
                    </tr>
                    <tr class="row">
                        <td class="tb-left">Most Popular Score</td>
                        <td class="tb-right">Loyalty</td>
                    </tr>
                </table>
            </div>
            <div class="age-dist">
                <h5>Age Distribution</h5>
                <div class="small-chart">Age distribution donut chart</div>
            </div>
            <div class="gender-dist">
                <h5>Gender Distribution</h5>
                <div class="med-chart">Gender line chart</div>
            </div>
        </div>
    </div>
    <div id="dollars-spent" class="chart-area">
        <div class="chart-desc">
            <h1>DOLLARS SPENT</h1>
            <p></p>
            <div class="dimensions">
                <p><b>DIMENSION</b> (X-Axis) : Day of Week</p>
                <p><b>METRIC</b> (Y-Axis) : $ Spent</p>
                <p><b>SERIES</b> (Neighborhoods) : Midtown East, lower manhattan, Midtown, Flatiron</p>
            </div>
            <div class="filters">
                <p><b>FILTERS:</b></p>
                <p>Cuisines: Diner, Salads, Burger Joint, Middle Eastern Restaurant, Bar, Mexican, Mediterranean, Cafe</p>
            </div>
        </div>
        <script>
            $(document).ready(function(){
                var dimensions = '1,2,4';
                var filters = '3::::Diner,Salads,Burger Joint,Middle Eastern Restaurant,Bar,Mexican,Mediterranean,Cafe,,,,2::::Midtown East,lower manhattan,Midtown,Flatiron,,,,';
                var graph_type = 'LineGraphView';
                var model_type = 'AvailedDeal';
                var params = {
                                'dimensions':dimensions,
                                'graph_type':graph_type,
                                'model_type':model_type,
                                'filters':filters
                             }
                $.post("/api/marketers", params)
                    .done(function(data){
                        var chart_data = JSON.parse(data);
                        render_graph('dollars-spent .graph-area', chart_data.chart_type, chart_data.chart_data, chart_data.metric, chart_data.dimension);
                });
            });
        </script>
        <div class="graph-area"></div>
    </div>
    <div id="sales-per-head" class="chart-area">
        <div class="chart-desc">
            <h1>SALES PER HEAD</h1>
            <p></p>
            <div class="dimensions">
                <p><b>DIMENSION</b> (X-Axis) : Cuisine</p>
                <p><b>METRIC</b> (Y-Axis) : $ Spent</p>
                <p><b>AGGREGATOR</b> : User</p>
                <p><b>AGGREGATOR STRATEGY</b> : Average</p>
            </div>
            <div class="filters">
                <p><b>FILTERS:</b></p>
                <p>Neighborhoods: Flatiron, Midtown, Gramercy, East Village, lower manhattan, Nolita, midtown, Midtown East</p>
                <p>Day of Week: Thu,Wed,Sun,Sat,Fri,Tue,Mon</p>
            </div>
        </div>
        <script>
            $(document).ready(function(){
                var dimensions = '3,4,6';
                var filters = '2::::Flatiron,Midtown,Gramercy,East Village,lower manhattan,Nolita,midtown,Midtown East,,,,1::::Thu,Wed,Sun,Sat,Fri,Tue,Mon,,,,';
                var graph_type = 'AggregateBarGraphView';
                var model_type = 'AvailedDeal';
                var aggregator_strategy = 'Average';
                var params = {
                                'dimensions':dimensions,
                                'graph_type':graph_type,
                                'model_type':model_type,
                                'filters':filters,
                                'agg_idx':aggregator_strategy
                             }
                $.post("/api/marketers", params)
                    .done(function(data){
                        var chart_data = JSON.parse(data);
                        render_graph('sales-per-head .graph-area', chart_data.chart_type, chart_data.chart_data, chart_data.metric, chart_data.dimension);
                });
            });
        </script>
        <div class="graph-area"></div>
    </div>
</div>
<div id="social-page" class="social-charts chart-page" style="display:none">
    <div id="aggregate-history-score" class="chart-area">
        <div class="chart-desc">
            <h1>AGGREGATE HISTORY SCORE</h1>
            <p></p>
            <div class="dimensions">
                <p><b>DIMENSION</b> (X-Axis) : Cuisine</p>
                <p><b>METRIC</b> (Y-Axis) : Score</p>
                <p><b>AGGREGATOR</b> : User</p>
                <p><b>AGGREGATOR STRATEGY</b> : Average</p>
            </div>
            <div class="filters">
                <p><b>FILTERS:</b></p>
                <p>Score Type: History</p>
                <p>Neighborhoods: Point Loma, midtown, Nolita, Flatiron, East Village, lower manhattan, Humboldt Park, Castro, Midtown, South End, Greenwich Village</p>
            </div>
        </div>
        <script>
            $(document).ready(function(){
                var dimensions = '7,6,1';
                var filters = "4:::: H ,,,,8::::Point Loma, midtown, Nolita, Flatiron, East Village, lower manhattan, Humboldt Park, Castro, Midtown, South End, Greenwich Village,,,,";
                var graph_type = 'AggregateBarGraphView';
                var model_type = 'UserScore';
                var aggregator_strategy = 'Average';
                var params = {
                                'dimensions':dimensions,
                                'graph_type':graph_type,
                                'model_type':model_type,
                                'filters':filters,
                                'agg_idx':aggregator_strategy
                             }
                $.post("/api/marketers", params)
                    .done(function(data){
                        var chart_data = JSON.parse(data);
                        render_graph('aggregate-history-score .graph-area', chart_data.chart_type, chart_data.chart_data, chart_data.metric, chart_data.dimension);
                });
            });
        </script>
        <div class="graph-area"></div>
    </div>
</div>
<div id="generic-page" class="generic-charts chart-page" style="display:none">
    {% include 'marketers/graph_builder.html'%}
    {% endblock %}
</div>