{% extends "base.html" %}
{% block Styles %}
<title>Haggle Platforms | Marketers</title>
{% endblock %}
{% block Content %}
<div class="top-bar">
    <ul class="section-menu">
        <li><a href="integrate_code.html">Reports</a></li>
        <li><a href="integrate_case-studies.html">Case Studies</a></li>
    </ul>
</div>
<div class="reports-nav">
    <select class="reports-list">
      <option value="neighborhood-report">Neighborhoods Overview</option>
      <option value="cuisine-report">Cuisine Report</option>
      <option value="mercedes">Spending Report</option>
      <option value="audi">Comparison Report</option>
    </select>
</div>
<div class="full-width-line">
	<div class="grid-wrap">
		<div class="grid-4">
			<h5>Neighborhood</h5>
			<select class="options-list">
			  <option>Flatiron District</option>
			  <option>SoHo</option>
			  <option>West Village</option>
			  <option>Hell's Kitchen</option>
			</select>
		</div>
		<div class="grid-4">
			<h5>Meal Type</h5>
			<select class="options-list">
			  <option>Brunch</option>
			  <option>Lunch</option>
			  <option>Happy Hour</option>
			  <option>Dinner</option>
			  <option>All</option>
			</select>
		</div>
		<div class="grid-4">
			<h5>Date Range</h5>
			<select class="options-list">
			  <option value="neighborhood-report">Neighborhoods Overview</option>
			  <option value="cuisine-report">Cuisine Report</option>
			  <option value="mercedes">Spending Report</option>
			  <option value="audi">Comparison Report</option>
			</select>
		</div>
		<div class="grid-4">
			<button class="btn-rpt">Run Report</button>
		</div>
	</div>
    <div class="overview-results">
        <div class="gender-dist">
            <h5>Gender Distribution</h5>
            <div class="small-chart">Gender donut chart</div>
        </div>
        <div class="age-dist">
            <h5>Age Distribution</h5>
            <div class="med-chart">Age distribution line chart</div>
        </div>
        <div class="summary">
            <table class="summary-table">
                <tr class="row">
                    <td class="tb-left">Average Spent</td>
                    <td class="tb-right">$24.94</td>
                </tr>
                <tr class="row">
                    <td class="tb-left">Average Discount</td>
                    <td class="tb-right">18.43%</td>
                </tr>
                <tr class="row">
                    <td class="tb-left">Most popular score</td>
                    <td class="tb-right">Loyalty</td>
                </tr>
                <tr class="row">
                    <td class="tb-left">Most popular cuisine</td>
                    <td class="tb-right">American</td>
                </tr>
                <tr class="row">
                    <td class="tb-left">Average Party size</td>
                    <td class="tb-right">2.4</td>
                </tr>
            </table>
        </div>
    </div>
</div>
<div class="full-width-line">
	<div class="big-chart"></div>
</div>
{% endblock %}
