{% extends "base.html" %}
{% block Scripts %}
    <script src="/assets/js/lib/d3.v3.min.js"></script>
    <script src="/assets/js/lib/d3/line.js"></script>
    <script src="/assets/js/lib/d3/stackedbar.js"></script>
    <script src="/assets/js/web/generic_template.js"></script>
    <script src="/assets/js/web/marketers.js"></script>
{% endblock %}
{% block Styles %}
<title>Haggle Platforms | Marketers</title>
<style>

* {
  -webkit-transition: all 0s ease;
  -moz-transition:    all 0s ease;
  -ms-transition:     all 0s ease;
  -o-transition:      all 0s ease;
}

.big-chart div {
  font: 10px sans-serif;
  background-color: steelblue;
  text-align: right;
  padding: 3px;
  margin: 1px;
  color: white;
}
.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.x.axis path {
  display: none;
}

.line {
  fill: none;
  stroke: steelblue;
  stroke-width: 1.5px;
}
</style>
{% endblock %}
{% block Content %}
<!--
<div class="top-bar">
    <ul class="section-menu">
        <li><a href="/marketers">Reports</a></li>
        <li><a href="/marketers">Case Studies</a></li>
    </ul>
</div>
<div class="reports-nav">
    <select class="reports-list">
      <option value="spending-report">Spending Report</option>
      <option value="social-report">Social Report</option>
      <option value="restaurant-report">Restaurant Report</option>
    </select>
</div>
<div class="full-width-line">
    <div class="overview-results">
        <div class="gender-dist">
            <h5>Gender Distribution</h5>
            <div class="small-chart">Gender donut chart</div>
        </div>
        <div class="age-dist">
            <h5>Age Distribution</h5>
            <div class="med-chart">Age distribution line chart</div>
        </div>
        <div class="summary">
            <table class="summary-table">
                <tr class="row">
                    <td class="tb-left">Average Spent</td>
                    <td class="tb-right">$24.94</td>
                </tr>
                <tr class="row">
                    <td class="tb-left">Average Discount</td>
                    <td class="tb-right">18.43%</td>
                </tr>
                <tr class="row">
                    <td class="tb-left">Most popular score</td>
                    <td class="tb-right">Loyalty</td>
                </tr>
                <tr class="row">
                    <td class="tb-left">Most popular cuisine</td>
                    <td class="tb-right">American</td>
                </tr>
                <tr class="row">
                    <td class="tb-left">Average Party size</td>
                    <td class="tb-right">2.4</td>
                </tr>
            </table>
        </div>
    </div>
</div>
-->
<div id="spending" class="full-width-line">
    <p class="bold-font">SPENDING</p>
    <hr>

    {% for graph in graphs %}
        <div id="{{graph.id}}" class="graph-container">
        <p>{{graph.title}}</p>
        {% include 'marketers/graphs/generic_template.html' with graph=graph%}
    </div>
    {% endfor %}

</div>
{% endblock %}
