{% extends "base.html" %}
{% block Styles %}
<link href="/assets/css/overview.css" type="text/css" rel="stylesheet">
{% endblock %}
{% block Content %}
<div class="row-fluid">
	<div style="text-align:center;margin-left:10%;margin-right:10%">
		<p class="haggle-font-type" style="font-weight: 200;font-size: 25px;line-height:40px">
			Gain access to our vast network of API endpoints to improve your app. 
			Apps connect to the Haggle API using Oauth2. 
			You can connect to our endpoints using one of the following mechanisms:
		</p>
	</div>
</div>
<div class="row-fluid">
	<div class="span12">
	</div>
</div>
<div class="row-fluid">
	<div class="haggle-filler span2">
	</div>	
	<div class="haggle-overview-text1 span8" style="padding-left:2%">
		<div class="accordion" id="accordion2">
		  <div class="accordion-group" style="background-color: #FFFFFF;">
			<div class="accordion-heading">
			  <a class="haggle-overview-text2 accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapse1">
			  <b>Do it yourself</b>
			  </a>
			</div>
			<div id="collapse1" class="accordion-body collapse">
			  <div class="accordion-inner">
				<div class="row-fluid">
					<div class="haggle-overview-text2 span12" style="padding-left:2%">
						<p>
							Apps connect to the Haggle API using Oauth2. 
							You can connect by following these easy steps:
						</p>
					</div>
				</div>
				<div class="row-fluid">
					<div class="haggle-overview-text2 span12" style="padding-left:2%">
						<p style="text-align:left">
									<br>
							<h4>Register</h4>
							<p>
								<a href='/developers/my_apps'>Register</a> with us to obtain a Client ID and Secret. 
								You will have to use this information to make any call to our platform.
							</p>
							<br>
							<h4>Obtain Access Token</h4>
							<p>
								Some of our endpoints require explicit user approval. 
								You will need an access token to use such endpoints. 
								Here are the steps taken to obtain and use an access token.
							</p>
							<br>
							<p>You can explore our API by checking out our 
								<a href='/endpoints'>endpoints</a>. 
								Check our <a href='/documentation'>documentation</a> to learn more about accessing our API</p>
						</p>
					</div>
				</div>
				<div class="row-fluid">
					<div class="haggle-overview-text2 span12" style="padding-left:2%">
						<p><br></p>
					</div>
				</div>
				<div class="row-fluid">
				</div>
			  </div>
			</div>
		  </div>
		  <div class="accordion-group" style="background-color: #FFFFFF;">
			<div class="accordion-heading">
			  <a class="haggle-overview-text2 accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapse2">
			   <b>Use our SDK</b>
			  </a>
			</div>
			<div id="collapse2" class="accordion-body collapse">
			  <div class="accordion-inner">
				<div class="row-fluid">
					<div class="haggle-overview-text2 span12" style="padding-left:2%">
						<p></p>
					</div>
				</div>
				<div class="row-fluid">
					<div class="haggle-overview-text2 span12" style="padding-left:2%">
						<p style="text-align:left">
							Our SDK will take care of the hard stuff so your app can easily use our API.
						</p>
					</div>
				</div>
				<div class="row-fluid">
					<div class="haggle-overview-text2 span12" style="padding-left:2%">
						<p style="text-align:left">
							<h4>iPhone and Android SDK</h4>
							<p>Our SDK packages make obtaining and using access tokens a cinch</p>
							<a href="http://github.com/linktoSDK">
								<input type="button" 
									   value="Download latest SDK" 
									   class="haggle-font-type"
									   style="height: 40px; width: 200px; border-radius: 5px; background-color: #45acbf; font-weight: 200;font-size: 15px; color:#ffffff"/>
							</a>
							<p>If you have specific endpoints in mind, we may have prepackaged what you're looking for in one of our Haggling screens built for third party use</p>
						</p>
					</div>
				</div>
				<div class="row-fluid">
				</div>
			  </div>
			</div>
		  </div>
		  <div class="accordion-group" style="background-color: #FFFFFF;">
			<div class="accordion-heading">
			  <a class="haggle-overview-text2 accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapse3">
				<b>Delegate to Haggle App</b>
			  </a>
			</div>
			<div id="collapse3" class="accordion-body collapse">
			  <div class="accordion-inner">
				<div class="row-fluid">
					<div class="haggle-overview-text2 span12" style="padding-left:2%">
						<p>See how your iPhone app can harness the power of Haggle without the need to talk to our API</p>
					</div>
				</div>
				<div class="row-fluid">
					<div class="haggle-overview-text2 span12" style="padding-left:2%">
						<p style="text-align:left">
							By simply redirecting to our Haggle app, you can skip the line and get the info you need without authenticating or accessing our API.
						</p>
					</div>
				</div>
			  </div>
			</div>
		  </div>
		</div>
	</div>
	<div class="span2">
	</div>
</div>
<hr>
<div class="row-fluid">
	<div class="span12">
		<div class="row-fluid">
			<div class="span4">
			</div>
			<div class="span4 haggle-font-type" style="text-align:center">
				<h2>Case Studies</h2>
			</div>
			<div class="span4">
			</div>
		</div>
		<hr>
		<div class="row-fluid">
			<div class="span2">
			</div>
			<div class="span8">
				<p><h3>Yelp</h3></p>
				<p class="haggle-overview-text2" style="text-align:left !important">
					While Yelp helps people find businesses in their neighborhood and see user generated reviews, they are constantly searching for ways to add value for their business owners and need to provide more options for users to connect with businesses directly on Yelp’s website. Yelp’s user reviews add a human element to discovering neighborhood businesses, but this feeling could be extended to developing relationships with the businesses themselves.
				</p>
				<p class="haggle-overview-text2" style="text-align:left !important">
					By adding a Haggle Button to their business pages, Yelp can help a user easily find where they want to go and negotiate a personalized price while remaining on the page. This adds value for businesses by connecting them directly with customers and allowing them to instantly gain information about the type of customer coming in, or provide enticing bargains for the specific customers most important to them. The Haggle Button also instantly initiates a one-on-one, and mutually beneficial relationship between the Yelp user and a business.
				</p>
			</div>
			<div class="span2">
			</div>
		</div>
		<hr>
		<div class="row-fluid">
			<div class="span2">
			</div>
			<div class="span8">
				<p><h3>J. Crew</h3></p>
				<p class="haggle-overview-text2" style="text-align:left !important">
					The J. Crew ecommerce team is under constant pressure to meet sales goals in a highly competitive online retail marketplace. Offering generic sitewide discounts boost units sold while greatly reduce margins. Sales also attract deal hunters without increasing lifetime user value. 
				</p>
				<p class="haggle-overview-text2" style="text-align:left !important">
					Instead of offering sitewide sales, J. Crew incorporates the Haggle Button on product pages and at checkout, allowing users to negotiate for a personalized price. J. Crew can focus on rewarding loyal shoppers, supporting and strengthening long lasting relationships while getting a better understanding of their customer base in the process.
				</p>
			</div>
			<div class="span2">
			</div>
		</div>		
		<hr>
		<div class="row-fluid">
			<div class="span2">
			</div>
			<div class="span8">
				<p><h3>Smorgasburg</h3></p>
				<p class="haggle-overview-text2" style="text-align:left !important">
					Smorgasburg, a New York food market featuring local vendors, attracts thousands of visitors every weekend. While people are introduced to a number of new restaurants and given the opportunity to try new foods, the vendors, as well as Smorgasburg, have no way to track or understand their customers. 
				</p>
				<p class="haggle-overview-text2" style="text-align:left !important">
					By introducing the Haggle button to Smorgasburg’s website and app, Smorgasburg can get a deeper understanding of the patrons they attract and relay that valuable information to their vendors. Vendors can also offer bargains for the specific types of customers most important to them. For example, Blue Marble wants to attract customers who have a high Dessert History Score but haven’t tried Blue Marble before. Using Haggle, they can entice these customers to try Blue Marble’s ice cream and start a new relationship with them. Haggle helps both Smorgasburg and its vendors get to know their patrons and rewards their patrons at the same time.
				</p>
			</div>
			<div class="span2">
			</div>
		</div>		
		<hr>
		<div class="row-fluid">
			<div class="span2">
			</div>
			<div class="span8">
				<p><h3>Food and Wine Online</h3></p>
				<p class="haggle-overview-text2" style="text-align:left !important">
					Food and Wine Magazine leverages its online content to sell advertising space and develop branded partnerships. While they offer demographic measurement and targeting for their advertisers, they want to provide more relative value than competitor sites and establish an advertising experience that benefits the user in a unique way. 
				</p>
				<p class="haggle-overview-text2" style="text-align:left !important">
					By utilizing the Haggle Button in their ads and branded partnerships, Food and Wine helps readers understand that they can negotiate for a personalized offer once they click on the advertisement. Both Food and Wine as well as their advertising partners gain a deeper understanding of their potential customers, and the users enjoy a personalized experienced even when they’re served an ad.
				</p>
			</div>
			<div class="span2">
			</div>
		</div>		
		<hr>
		<div class="row-fluid">
			<div class="span2">
			</div>
			<div class="span8">
				<p><h3>The Cannibal</h3></p>
				<p class="haggle-overview-text2" style="text-align:left !important">
					The Cannibal, a current Haggle partner, has an understanding of the types of Haggle users they prefer, but they want to learn about general trends in their neighborhood and find out more about potential customers who they’re not attracting. 
				</p>
				<p class="haggle-overview-text2" style="text-align:left !important">
					By accessing Haggle’s API, they can see Gramercy neighborhood trends by time, date, and user type. They realize they’re missing a lunch crowd that is normally loyal during dinner hours, and update their Haggle weekday campaign to attract loyal customers for lunch when The Cannibal have empty tables
				</p>
			</div>
			<div class="span2">
			</div>
		</div>				
		<hr>
		<div class="row-fluid">
			<div class="span2">
			</div>
			<div class="span8">
				<p><h3>Sweet Green</h3></p>
				<p class="haggle-overview-text2" style="text-align:left !important">
					Sweet Green, a Washington, D.C. lunch staple, has decided to break into the New York market with a brand new Manhattan location. As they research potential locations, they’re having a hard time understanding location, customer and competition trends for different neighborhoods.
				</p>
				<p class="haggle-overview-text2" style="text-align:left !important">
					By connecting with Haggle’s API, they can search neighborhoods by cuisine frequency and get a thorough understanding of the types of potential customers near each location. They decide to open their first store in a neighborhood in desperate need of fast, delicious, and healthy lunch options and full of social influencers who Sweet Green knows will help spread the word once they open.
				</p>
			</div>
			<div class="span2">
			</div>
		</div>				
		<hr>
		<div class="row-fluid">
			<div class="span2">
			</div>
			<div class="span8">
				<p><h3>New York Times</h3></p>
				<p class="haggle-overview-text2" style="text-align:left !important">
					The New York Times is building a service in their Dining and Wine section that helps readers search for restaurants based on the articles they read. The newspaper need an easy way to include a database of restaurants based on the neighborhood each article refers to.
				</p>
			</div>
			<div class="span2">
			</div>
		</div>
		<hr>
		<div class="row-fluid">
			<div class="span2">
			</div>
			<div class="span8">
				<p><h3>Real Estate Company</h3></p>
				<p class="haggle-overview-text2" style="text-align:left !important">
					A NY Real Estate company invests in gentrifying neighborhoods, beautifying local buildings and expediting growth. They’re constantly looking for new ways to understand potential locations and believe big data may hold a solution
				</p>
				<p class="haggle-overview-text2" style="text-align:left !important">
					When the NY Real Estate company accesses Haggle’s API, they can see general trends over time and find out more about what people do in a given neighborhood. When they see that there has been an increase in Social Influencers and Bankrollers in Crown Heights, it compliments their other research and motivates them to invest in the neighborhood.
				</p>
			</div>
			<div class="span2">
			</div>
		</div>
	</div>
</div>
{% endblock %}