{% extends "base.html" %}
{% block Content %}
<h1>General Integration</h1>
<p>Apps connect to the Haggle API using Oauth2. You can connect by following these easy steps:</p>
<h4>Registration</h4>
<p><a href='/my_apps'>Register</a> with our app to obtain a Client ID and Secret. You can use this information to make calls to our API.</p>
<h4>Access Token</h4>
<p>Some of our endpoints require explicit user approval to access. You will need an access token to use these endpoints. Here are the steps taken to obtain and use an access token.</p>
<br>
<p>You can explore our API by checking out our <a href='/endpoints'>endpoints</a>. Check our <a href='/documentation'>documentation</a> to learn more about accessing our API</p>
{% endblock %}
