{% extends "integrate/integrate.html" %}
{% block Title %}
Haggle Platforms | Integrate / Code
{% endblock %}
{% block SidebarList %}
    <li class="active"><a href="#overview">Overview</a></li>
{% endblock %}
{% block IntegrateContent %}
    <div class="tab-pane active fade in" id="overview">
        <p>
            Integrate your Android app with Haggle and give your users the power of leveraging their social data!<br>
            We offer:
        </p>
        <div class="sdk-table">
            <p>Easy access to the Haggle API:</p>
            <div class="sdk-row">
                <div class="sdk-column">
                    <p class="sdk-copy">Query our vast database of restaurants harmonised across multiple social networks</p>
                </div>
                <div class="sdk-column">
                    <p class="sdk-copy">Query for trends in user haggling behavior, broken by cuisine, neighborhoods etc..</p>
                </div>
            </div>
            <div class="sdk-row">
                <div class="sdk-column">
                    <p class="sdk-copy">Query for trends in restaurant user preferences, bids, discounts etc...</p>
                </div>
                <div class="sdk-column">
                    <p class="sdk-copy">Offer him choices on where he wants to haggle and haggle on his behalf</p>
                </div>
            </div>
            <div class="sdk-row">
                <div class="sdk-column">
                    <p class="sdk-copy">Query for your user's Haggling trends</p>
                </div>
            </div>
        </div>

        <div class="sdk-table">
            <p>UI elements - Leverage our pre-packed UI elements to</p>
            <div class="sdk-row">
                <div class="sdk-column">
                    <p class="sdk-copy">Allow users to haggle easily within your app</p>
                </div>
                <div class="sdk-column">
                    <p class="sdk-copy">Show users the choices they have in haggling</p>
                </div>
            </div>
        </div>
        <div class="pages"></div>
    </div>
{% endblock %}

