{% extends "integrate/integrate.html" %}
{% block Title %}
Haggle Platforms | Integrate / Code
{% endblock %}
{% block SidebarList %}
    <li class="active"><a href="#overview">Overview</a></li>
{% endblock %}
{% block IntegrateContent %}
    <div class="tab-pane active fade in" id="overview">
        <p>
            Integrate your Android app with Haggle and give your users the power of leveraging their social data!<br>
            We offer:
        </p>
        <div class="sdk-table">
            <p>Easy access to the Haggle API:</p>
            <div class="sdk-row">
                <div class="sdk-column">
                    <p class="sdk-copy-title">Query</p>
                    <p class="sdk-copy">Query the haggle platform for a wealth of information. From trends in busy hours, to restaurant density to trends in user bids and discounts given. This validated information allows you to provide a wealth of features to your users built on top of this data</p>
                </div>
                <div class="sdk-column">
                    <p class="sdk-copy-title">Browse</p>
                    <p class="sdk-copy">Allow users to browse our restaurant partners and learn how they fit our partners' requirements. We also allow you to be more intelligent in showing our partners by letting you sort them by fitment, rating, distance etc...</p>
                </div>
            </div>
            <div class="sdk-row">
                <div class="sdk-column">
                    <p class="sdk-copy-title">Haggle</p>
                    <p class="sdk-copy">Give your users the unique opportunity of being able to leverage their social data and haggle for a personalised price right within your app. We take care of all the data mining, negotiation, reservations etc... You just need to invoke a few calls on our SDK.</p>
                </div>
                <div class="sdk-column">
                    <p class="sdk-copy-title">Personalize</p>
                    <p class="sdk-copy">Learn more about your user, and personalize his app. We can tell you what his eating preferences are, what his spending trends are so you can customise your app accordingly.</p>
                </div>
            </div>
            <div class="sdk-row">
                <div class="sdk-column">
                    <p class="sdk-copy-title">Integrate</p>
                    <p class="sdk-copy">Love our concept? Sell something which people can haggle for? Use our API to integrate your merchandise and let your users start haggling for them!</p>
                </div>
            </div>
        </div>

        <!--<div class="sdk-table">
            <p>UI elements - Leverage our pre-packed UI elements to</p>
            <div class="sdk-row">
                <div class="sdk-column">
                    <p class="sdk-copy">Allow users to haggle easily within your app</p>
                </div>
                <div class="sdk-column">
                    <p class="sdk-copy">Show users the choices they have in haggling</p>
                </div>
            </div>
        </div>-->
        <div class="pages"></div>
    </div>
{% endblock %}

