<script type="text/javascript">
    $(document).ready(function(){
        console.log('Here...');
        loadChart();
    });

    function loadChart() {
        var option_params = {
            'graph_id':'{{graph.id}}',
            'model':'{{graph.model}}',
            'dimensions':'{{graph.dimension_ids}}',
            'graph_model':'{{graph.graph_model}}',
            'graph_view':'{{graph.graph_view}}'
        }

        $.post('/marketers/options', option_params)
        .done(function(data){
            var dimensions = data.dimensions;
            var filters = data.filters;
            var curr_graph_id = data.graph_id;
            $('#'+curr_graph_id+' .dimensions-area').append( dimensions );
            $('#'+curr_graph_id+' .filters-area').append( filters );
            updateChart(curr_graph_id, null);
        });
    }

    function updateChart(graph_id, filters) {
        d3.select("#"+graph_id+" .graph-area").select("svg").remove();
        var params = {
                        'id':graph_id
                     }
        $.post("/api/marketers", params)
            .done(function(data){
                var chart_data = JSON.parse(data);
                var dat = chart_data.chart_data;
                var curr_graph_id = chart_data.graph_id;

        });
    }
</script>

<form>
    <div id="dimensions-area" class="dimensions-area"></div>
    <div class="filters-graph">
        <div class="filters-area inline"></div>
        <div class="graph-area inline"></div>
    </div>
</form>