{% extends "base.html" %}
{% block Content %}
<script src='/assets/js/endpoints/fetch_from_api_server.js' type='text/javascript'></script>
<div class="row-fluid">
	<div class="span12">
		<h2>Discount Trends</h2>
		<p>https://haggle-test1.appspot.com/api/analytics/aggregate_campaigns</p>
	</div>
</div>
<div class="row-fluid">
	<div class="span6">
		<div class="row-fluid">
			<div class="span12">
				<h3>Parameters</h3>
			</div>
		</div>
		<div class="row-fluid">
			<div class="span12">
				<table cellpadding="5" cellspacing="0" border="1" class="c7">
					<tbody>
						<tr>
							<td>property</td>
							<td>discount_trends</td>
						</tr>
						<tr>
							<td>lat</td>
							<td>Latitude of the location</td>
						</tr>
						<tr>
							<td>lon</td>
							<td>Longitude of the location</td>
						</tr>
						<tr>
							<td>radius</td>
							<td>Radius</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
		<div class="row-fluid">
			<div class="span12">
			</div>
		</div>
		<div class="row-fluid">
			<div class="span12">
				<input 	type="button"
						id="try-it"
						value="Try it out!"
						class="haggle-font-type"
						style="height: 40px; width: 200px; border-radius: 5px; background-color: #45acbf; font-weight: 200;font-size: 15px; color:#ffffff"/>
			</div>
		</div>
	</div>
	<div class="span6">
		<div class="row-fluid">
			<div class="span12">
				<h3>Response</h3>
			</div>
		</div>
		<div class="row-fluid">
			<div class="span12">
				<pre id="response" style="background-color:#ffffff;min-height:100px">
				</pre>
			</div>
		</div>
	</div>
</div>
<div class="row-fluid">
	<div class="span12">
	</div>
</div>
{% endblock %}