{% extends "base.html" %}
{% block Content %}
<script src='/assets/js/endpoints/fetch_from_server.js' type='text/javascript'></script>
<div style='float:left;width:50%'>
	<h2>Discount Trends</h2>
	<p>https://haggle-test1.appspot.com/api/analytics/aggregate_campaigns</p>
	</br>
	<h3>Parameters</h3>
	<table cellpadding="5" cellspacing="0" border="1" class="c7">
		<tbody>
			<tr>
				<td>property</td>
				<td>discount_trends</td>
			</tr>
			<tr>
				<td>lat</td>
				<td>Latitude of the location</td>
			</tr>
			<tr>
				<td>lon</td>
				<td>Longitude of the location</td>
			</tr>
			<tr>
				<td>radius</td>
				<td>Radius</td>
			</tr>
		</tbody>
	</table>
	</br>
	<input 	type="button"
			id="try-it"
			value="Try it out!"
			class="haggle-font-type"
			style="height: 40px; width: 200px; border-radius: 5px; background-color: #45acbf; font-weight: 200;font-size: 15px; color:#ffffff"/>
</div>
<div style="position:relative;width:40%;float:left;">
	<h3>Response</h3>
	<pre id="response" style="height:250px;width:500px;">
	</pre>
</div>
{% endblock %}